@font-face {
    font-family: 'ElectronicaNormal';
    src: url('/resources/fonts/promo/Electronica-Normal.woff2') format('woff2'),
    url('/resources/fonts/promo/Electronica-Normal.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

// todo load fonts: typewriter, tv display
