@font-face {
    font-family: 'ElectronicaNormal';
    src: url('/resources/fonts/promo/Electronica-Normal.woff2') format('woff2'),
    url('/resources/fonts/promo/Electronica-Normal.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AmericanTypewriter';
    src: url('/resources/fonts/promo/AmericanTypewriter.woff2') format('woff2'),
    url('/resources/fonts/promo/AmericanTypewriter.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'VCROSDMono';
    src: url('/resources/fonts/promo/VCROSDMonoRUSVHSicons.woff2') format('woff2'),
    url('/resources/fonts/promo/VCROSDMonoRUSVHSicons.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
