@use "./loader";
@use "./fonts";
@use "./tv";
@use "./tapes";
@use "./remote";
@use "./about";
@use "./buttons";
@use "./mixins" as *;

body {
    margin: 0;
    padding: 0;
    background-color: #000;
    overflow: hidden;
    font-size: 1vh;
    font-family: 'Raleway', sans-serif;
    --widescreen-margin: 0px;
    --widescreen-max-width: 100vw;
    @media screen and (min-aspect-ratio: 21 / 9) {
        --widescreen-max-width: calc(100vh / 18 * 43);
        --widescreen-margin: (100vw - var(--widescreen-max-width)) / 2;
    }
}

::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

.main {
    width: var(--widescreen-max-width);
    height: 100vh;
    background: #000;
    position: relative;
    margin: 0 auto;
    transition: all .4s;
    left: 0;
    &--programs {
        @include mobile() {
            left: -100vw;
            transform: scale(1.25);
        }
    }
}

.tooltip {
    visibility: hidden;
    position: absolute;
    z-index: 100000000;
    top: -.5em;
    left: calc(50% - .5em);
    padding: .5em;
    color: #fff;
    background: rgba(0,0,0,.5);
    border-radius: .25em;
    white-space: nowrap;
    @include mobile() {
        font-size: 1rem;
        top: -1.75em;
        border-radius: .5em;
    }
}

.remote__button:hover .tooltip, .tv__control:hover .tooltip {
    visibility: visible;
}

