@use "./loader";
@use "./fonts";
@use "./tv";
@use "./tapes";
@use "./remote";
@use "./about";
@use "./mobile-controls";
@use "./buttons";
@use "./mixins" as *;

body {
    margin: 0;
    padding: 0;
    background-color: #000;
    overflow: hidden;
    font-size: 1vh;
    font-family: 'Raleway', sans-serif;
    --widescreen-margin: 0px;
    --widescreen-max-width: 100vw;
    @media screen and (min-aspect-ratio: 21 / 9) {
        --widescreen-max-width: calc(100vh / 18 * 43);
        --widescreen-margin: (100vw - var(--widescreen-max-width)) / 2;
    }
}

::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

.main {
    width: var(--widescreen-max-width);
    height: 100vh;
    background: #000;
    position: relative;
    margin: 0 auto;
    transition: all .4s;
    left: 0;
    &--programs {
        @include mobile() {
            left: -108.5vw;
            transform: scale(1.14);
        }
    }
}

.tooltip {
    visibility: hidden;
    position: absolute;
    z-index: 100000000;
    top: -.5em;
    left: calc(50% - .5em);
    padding: .5em;
    color: #fff;
    background: rgba(0,0,0,.5);
    border-radius: .25em;
    white-space: nowrap;
    @include mobile() {
        font-size: 1rem;
        top: -1.75em;
        border-radius: .5em;
    }
}

.remote__button:hover .tooltip, .tv__control:hover .tooltip {
    visibility: visible;
}


.unmute-warning {
    position: absolute;
    z-index: 1000;
    color: #eee;
    font-size: 1.75em;
    text-align: center;
    top: 4em;
    left: max(1em, 50vw - 15em);
    width: 100%;
    max-width: 30em;
    background: linear-gradient(to bottom, rgba(203, 26, 26, 0.72), rgba(119, 50, 50, 0.77), rgba(0, 0, 0, 0.5));
    text-shadow: 0 .25em .75em #000000a3;
    padding: .5em;
    box-sizing: border-box;
    border-radius: .5em;
    box-shadow: 0 .5em 1em inset #222, 0 .5em 2.5em #ff000066;

    &__top {
        font-weight: bold;
        font-size: 1.125em;
    }
}
