@use "./mixins" as *;

.mobile-controls {
    display: none;
    @include mobile() {
        display: block;
    }

    &__button {
        font-size: 20vw;
        width: .925em;
        position: fixed;
        bottom: 0;
        height: .75em;
        line-height: .5;
        padding: .25em;
        background: linear-gradient(to bottom, #222, #262626);
        box-shadow: 0 0 0.75em inset #111, 0 0 1em -0.5em #111;
        text-shadow: 0 .05em .1em #000;
        cursor: pointer;
        color: #999;
        z-index: 1;
        transition: all .1s;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        &:hover {
            color: #ff6a00;
        }
        &:active {
            filter: brightness(1.2);
            transform: translateY(.025em);
        }
        &--center {
            padding: .075em .35em;
            left: calc(50vw - 1em);
            width: 1.3125em;
            border-radius: .125em;
            height: .4375em;
            flex-direction: row;
            align-items: center;
            gap: .125em;
        }
    }

    &__icon {
        width: .4em;
        min-height: .4em;
        height: .4em;
        margin-bottom: .125em;
        fill: currentColor;
        filter: drop-shadow(0 .1em .125em #000);
    }

    &__button--center &__icon {
        margin-bottom: 0;
        min-width: .25em;
        width: .25em;
        height: .25em;
    }

    &__text {
        width: .5em;
        min-height: .5em;
        height: .5em;
    }

    &__label {
        white-space: nowrap;
        color: #777;
        font-size: .15em;
        line-height: 1;
    }

    &__change-channel {
        &--prev {
            left: 0;
            border-top-left-radius: 1em;
            border-bottom-left-radius: 1em;
        }

        &--next {
            right: 0;
            border-top-right-radius: 1em;
            border-bottom-right-radius: 1em;
        }
    }

    &__change-channel--prev &__text {
        line-height: .35;
    }

    &__toggle-remote {
        bottom: .65em;
    }
    &__random-channel {
        bottom: 0;
    }



}

.toggle-programs {
    position: fixed;
    top: 1em;
    right: 1em;
    z-index: 5;
}

.toggle-remote {
    position: fixed;
    top: 1em;
    left: 1em;
    z-index: 5;
}
