@use "./mixins" as *;

.remote {
    position: absolute;
    bottom: -1vw;
    left: 0;
    transition: bottom .4s;
    pointer-events: all;
    @include mobile() {
        bottom: calc(-100% - 2em);
        height: 100vh;
        overflow: auto;
        overflow-x: hidden;
        left: 12.5vw;
        &--visible {
            bottom: 0;
        }
    }
    &__outer {
        background: linear-gradient(45deg, #222, #111);
        border-radius: 2em;
        padding: 1em;
        box-shadow: -1em 5em 2em 2em #0000004a;
        font-size: 1.25vh;
        @include mobile() {
            margin: 4em 0 1.75em;
            font-size: 3.125vw;
        }
    }
    &__logo {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 1em;
        filter: drop-shadow(4px 4px 6px #555);
        svg {
            width: 100%;
        }
        path {
            fill: #ffffff21;
            stroke: none;
        }
    }

    &__inner {
        height: 87.5vh;
        box-shadow: 0 0 1em;
        padding: 1em;
        border-radius: var(--border-radius-standard);
        background: #161616;
        background-size: .4em;
        display: flex;
        flex-direction: column;
        gap: 1em;
        @include mobile() {
            height: unset;
        }
    }

    &__container {
        position: absolute;
        z-index: 10;
        top: 0;
        left: 5em;
        height: 100vh;
        pointer-events: none;
        @include mobile() {
            overflow: auto;
            position: fixed;
            left: 0;
            width: 100vw;
        }
    }

    &__channels {
        gap: 1em;
        width: 20em;
        display: flex;
        flex-wrap: wrap;
    }

    &__button {
        color: #fff;
        font: inherit;
        border: none;
        background: linear-gradient(45deg, #222, #333);
        text-align: center;
        font-weight: bold;
        padding: .5em;
        border-radius: .5em;
        box-shadow: 0 0 .75em inset #111, .25em .75em .75em -.25em rgba(0,0,0,.85);
        cursor: pointer;
        transition: all .2s;
        position: relative;
        &:hover {
            z-index: 2;
            background: linear-gradient(45deg, #333, #444);
        }
        &:active {
            top: .125em;
            background: linear-gradient(45deg, #161616, #222);
            filter: brightness(.9);
        }
        &--active, &--active:hover {
            top: .25em;
            background: linear-gradient(45deg, #000, #111);
            box-shadow: 0 .5em .75em inset #111, .25em 1.25em .75em -.25em rgba(0,0,0,.85);
        }
    }

    &__channel {
        &__logo {
            filter: drop-shadow(0 .5em .5em rgba(255, 255, 255, .1));
            width: 5em;
            height: 5em;
            background-position: center;
            background-repeat: no-repeat;
            background-size: 80%;
        }

        &__name {
            display: none;
        }
    }


    &__random {

        width: 100%;
        background: linear-gradient(to bottom, #dc2929, #b61111);
        text-shadow: 0 0 .5em #000;
        &:hover {
            background: linear-gradient(to bottom, #e03d3d, #d02222);
        }
    }
}
