@use "./mixins" as *;

.tapes {
    position: absolute;
    z-index: 3;
    top: 14em;
    display: flex;
    flex-direction: column;
    gap: 1.9em;
    left: calc(50vw + 39.5em - var(--widescreen-margin));
    perspective: 152em;
    height: 83em;
    @include mobile() {
        font-size: 1.225vw;
        top: calc(50vh - 44vw);
        left: 104vw;
        perspective: 200vw;
    }
}

.tape {
    width: 44em;
    height: 4.5em;
    position: relative;
    mix-blend-mode: overlay;
    border-radius: .5em;
    transition: all .2s;
    cursor: pointer;
    box-sizing: border-box;
    transform-origin: 0 0;
    &:hover {
        background: rgba(0,0,0,.1);
    }
    &:nth-of-type(1) {
        transform: translateX(-.125em) rotateY(-17deg);
    }
    &:nth-of-type(2) {
        width: 44.75em;
        transform: rotateY(-10deg) translateX(-.3em) translateY(-.9em);
    }
    &:nth-of-type(3) {
        width: 43.25em;
        transform: rotateY(-17.5deg) translateX(-2.25em) translateY(.25em);
    }
    &:nth-of-type(4) {
        width: 44.5em;
        transform: rotateY(-14deg) translateX(1.5em) translateY(.125em);
    }
    &:nth-of-type(5) {
        width: 43.75em;
        transform: rotateY(-21.5deg) translateX(-3em) translateY(.5em);
    }
    &:nth-of-type(6) {
        width: 45em;
        transform: rotateY(-19.5deg) rotateZ(.5deg) translateX(-.125em) translateY(.4em);
    }
    &:nth-of-type(7) {
        width: 42.75em;
        transform: rotateY(-22.5deg) translateX(-2.75em) translateY(.625em);
    }
    &:nth-of-type(8) {
        width: 41.25em;
        transform: rotateY(-23.5deg) rotateZ(.75deg) translateX(-1.125em) translateY(.5em);
    }
    &:nth-of-type(9) {
        transform: rotateY(-21.5deg) translateX(.125em) translateY(.75em);
    }
    &:nth-of-type(10) {
        width: 43.75em;
        transform: rotateY(-28.5deg) translateX(-1.5em) translateY(1em);
    }
    &:nth-of-type(11) {
        width: 45em;
        transform: rotateY(-16.5deg) translateX(-1em) translateY(2em);
    }
    &:nth-of-type(12) {
        width: 44em;
        transform: rotateY(-13.5deg) translateX(-.25em) translateY(1.5em);
    }

    &__sticker {
        width: 100%;
        height: 100%;
        position: relative;
        border-radius: .5em;
        display: flex;
        align-items: center;
        justify-content: center;

        &__content {
            width: 100%;
            border-radius: .5em;
            padding: .5em;
            font-family: "AmericanTypewriter", serif;
            font-size: 1.4em;
            line-height: 1.4;
            display: flex;
            align-items: center;
            gap: .5em;
            line-height: 1;
            @include mobile() {
                font-size: 1.8em;
            }
        }

        &__cover {
            background: #ccc;
            width: 4em;
            height: 2.5em;
            background-size: cover;
            background-position: center;
            @include mobile() {
                width: 3.5em;
                height: 2em;
            }
        }
    }

    &:nth-of-type(4n - 2) &__sticker {
        transform: rotate(-.5deg);
    }

    &:nth-of-type(4n - 1) &__sticker {
        transform: rotate(.25deg);
    }

    &:nth-of-type(4n) &__sticker {
        transform: rotate(.5deg);
    }
}
