/node_modules
/public/*
!/public/pictures/
/public/pictures/imported/*
/public/pictures/uploads/*
!/public/.htaccess
!/public/index.php
!/public/mix-manifest.json
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
