$links: #ccc;
$linkshover: #ddd;
$main-links: #ffa400;
@mixin mobile() {
    @media screen and (max-width: 768px) {
        @content;
    }
}
@mixin light() {
    @at-root {
        .theme-light & {
            @content;
        }
    }
}
@mixin dark() {
    @at-root {
        .theme-dark & {
            @content;
        }
    }
}
