@mixin mobile() {
    @media screen and (max-width: 960px) {
        @content;
    }
}
@mixin light() {
    @at-root {
        .theme-light & {
            @content;
        }
    }
}
@mixin dark() {
    @at-root {
        .theme-dark & {
            @content;
        }
    }
}


@mixin hover ($small: false) {
    position: relative;
    z-index: 1;
    transition: color .2s;
    &:hover {
        color: var(--primary);
    }
    &:before {
        position: absolute;

        background: var(--box-color-hover);
        border-radius: var(--border-radius-standard);
        content: "";
        display: block;
        z-index: -1;
        opacity: 0;
        transition: opacity .2s;
        box-shadow: var( --element-box-shadow);
        @if $small == true {
            top: -.25em;
            left: -.25em;
            width: calc(100% + .5em);
            height: calc(100% + .5em);
        } @else {
            top: -.5em;
            left: -.5em;
            width: calc(100% + 1em);
            height: calc(100% + 1em);
        }
    }
    &:hover:before {
        opacity: .5;
    }

}
