.admin-panel {
  font-size: .875em;
  background: #fff;
  color: #111;
  margin: 1em 0 0;
  display: flex;
  &__sidebar {
    max-width: 280px;
    background: #eee;
    border-right: 1px solid #ccc;
  }

  &__name {
    font-size: 1.25em;
    font-weight: bold;
    padding: 1.215em;
    background: #363636;
    color: #fafafa;
    position: relative;
    z-index: 1;
  }

  &__main-content {
    position: relative;
    padding: 1em;
  }

  &__link {
    color: #555;
    text-decoration: none;
    font-size: 1.125em;
    padding: 1em;
    margin: 0;
    border-bottom: 1px solid #ccc;
    background: linear-gradient(#f7f7f7, #f4f4f4);
    border-top: 1px solid #fafafa;
    border-bottom: 1px solid #d9d9d9;
    &:hover {
      background: linear-gradient(#e4e4e4, #d9d9d9);
    }
    i {
      margin: 0 .5em 0 0;
    }
    &.link--active {
      background: linear-gradient(#f4f4f4, #d9d9d9);
    }
  }

  &__top {
    background: #eee;
    padding: 1.25em;
    border-bottom: 1px dashed #555;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__heading-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fafafa;
    padding: 1em 1.25em;
    border-bottom: 1px solid #ddd;
  }

  &__heading {
    font-size: 2em;
    font-weight: bold;
  }
  &__content {
    flex: 1;
  }

  &__links {
    display: flex;
    flex-direction: column;
  }


  &__table {
    font-family: Roboto, sans-serif;
    width: 100%;
    border-collapse: collapse;
    margin: 0 0 1em;
    &__row-loading {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 2.25em;
      background: rgba(255, 255, 255, 0.5);
      z-index: 1000;
    }
    a {
      color: #555;
      cursor: pointer;
      text-decoration: underline;

    }
    .button {
      text-decoration: none;
    }

    tr {

    }
    thead td {
      background: #eee;
      font-weight: bold;
      font-size: .875em;
      max-width: 7.5em;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      text-align: center;

    }

    &__first-col {
      max-width: 18em;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      text-align: left;
      font-weight: bold;
      font-size: 1.125em;
      padding: 0 0 0 .5em;
    }

    tbody td {
      text-align: center;
    }

    td {
      border: 1px solid #ccc;
    }

    thead tr td:only-of-type {
      font-size: 1.25em;
      text-align: center;
      padding: .5em 0;
      background: #eee;
    }

    th {
      font-size: 1.125em;
      padding: .75em 0;
      border: 1px solid #ddd;
      background: linear-gradient(#f7f7f7, #f4f4f4);
      cursor: pointer;

      &:hover {
        background: linear-gradient(#e4e4e4, #d9d9d9);
      }

      &[aria-sort="ascending"]:after {
        content: "\f0de";
        font-family: "Font Awesome 5 Free";
        margin: .75em;
        position: relative;
        top: .25em;
      }

      &[aria-sort="descending"]:after {
        content: "\f0dd";
        font-family: "Font Awesome 5 Free";
        margin: .75em;
        position: relative;
        top: -.125em;
      }
    }

  }
  &__table-filters {
    background: linear-gradient(#e7e7e7, #d5d5d5);
    display: flex;
    padding: 1em;

    &__input {
      flex: 1;
      text-align: right;
    }
  }
}

.pager-container--admin-panel {
  margin: -.5em 0 0;
}

.container--admin-panel {

}



.admin-panel__crossposting {
  display: flex;
  flex-wrap: wrap;
  &__service {
    width: calc(50% - 1em);
    margin: 0 1em 2.5em 0;
  }
  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__form .response {
    margin: 0;
  }

 &__instructions {
    background: #eee;
    padding: .5em 1em;
    margin: 0 0 .5em;
    border: 1px solid #aaa;
  }

  &__name {
    font-size: 1.5em;
    margin: 0;
    font-weight: bold;
  }
}
