.admin-panel {
    font-size: .875em;
    background: var(--box-color);
    color: var(--text-color);
    display: flex;

    &__sidebar {
        width: 20em;
        @include mobile() {
            width: 100%;
        }
    }

    &__name {
        position: relative;
        z-index: 1;
    }

    &__main-content {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: var(--col-margin);
    }

    &__link {
        text-decoration: none;
        font-size: 1.125em;
        padding: 1em;
        margin: 0;
        @include hover;
        display: flex;
        align-items: center;
        gap: 1em;

        &.link--active {
            background: var(--bg-darker-2);
        }
        @include mobile() {
            width: calc(50% - 2em);
        }
    }

    &__top {
        background: var(--bg-darker);
        padding: 1.25em;
        border-bottom: 1px solid var(--border-color);
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__heading-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: var(--bg-darker-2);
        padding: 1em 1.25em;
        border-bottom: 1px solid var(--border-color);
    }

    &__heading {
        font-size: 1.5em;
        white-space: nowrap;
        padding: 0 1em 0 0;
        font-weight: bold;
    }

    &__content {
        max-width: calc(100% - 20em);
        flex: 1;
        @include mobile() {
            max-width: unset;
        }
    }

    &__links {
        display: flex;
        flex-direction: column;
        @include mobile() {
            flex-direction: row;
            flex-wrap: wrap;
        }
    }


    &__table {
        width: 100%;
        border-collapse: collapse;
        font-size: .9375em;
        box-shadow: var(--block-box-shadow);
        &__row-loading {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 2.25em;
            background: rgba(255, 255, 255, 0.5);
            z-index: 1000;
        }

        a {
            cursor: pointer;
            text-decoration: underline;
        }

        .input {
            margin: 0!important;
            width: 100%!important;
            box-sizing: border-box!important;
            padding: 1.25em .5em;
        }

        .button {
            text-decoration: none;
        }

        tr:nth-of-type(2n) {
            background: rgba(0, 0, 0, 0.05);
        }

        thead td {
            background: var(--box-color-dark);
            color: var(--box-text-color-dark);
            border: none;
            font-weight: bold;
            font-size: 1.25em;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            text-align: center;
            padding: .5em;

        }

        &__first-col {
            max-width: 18em;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            text-align: left;
            font-weight: bold;
            font-size: 1.125em;
            padding: 0 0 0 .5em;
        }

        tbody td {
            text-align: center;
        }

        td {
            border: 1px solid var(--border-color);
        }

        thead tr td:only-of-type {
            font-size: 1.25em;
            text-align: center;
            padding: .5em 0;
            color: var(--box-text-color-dark);
        }

        th {
            font-size: 1.125em;
            padding: .75em .25em;
            border: 1px solid var(--border-color);
            cursor: pointer;

            &:hover {
                background: var(--bg-darker);
            }

            &[aria-sort="ascending"]:after {
                content: "\f0de";
                font-family: "Font Awesome 5 Free";
                margin: .75em;
                position: relative;
                top: .25em;
            }

            &[aria-sort="descending"]:after {
                content: "\f0dd";
                font-family: "Font Awesome 5 Free";
                margin: .75em;
                position: relative;
                top: -.125em;
            }
        }

        &--bigger {
            td {
                padding: 1em;
            }
        }

        &--small thead td {
            white-space: unset;
            font-size: .75em;
        }
    }


    &__table-filters {
        display: flex;
        gap: var(--col-margin);
        &__input {
            flex: 1;
            text-align: right;
        }
    }
}

.pager-container--admin-panel {
    &-bottom {
        margin-left: auto;
    }
    .pagination {
        box-shadow: none;
        margin: 0;
        padding: 0;
    }
}


.admin-panel__crossposting {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    &__service {
        background: var(--bg-darker);
        box-shadow: var(--block-box-shadow);
        border-radius: var(--border-radius-standard);
        width: calc(50% - 1em);
        padding: 1.5em;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        gap: .5em;
    }

    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__form .response {
        margin: 0;
    }

    &__instructions {
        background: var(--bg-darker-2);
        box-shadow: var(--element-box-shadow);
        border-radius: var(--border-radius-standard);
        overflow: auto;
        word-break: break-all;
        padding: .5em 1em;
    }

    &__name {
        font-size: 1.5em;
        margin: 0;
        font-weight: bold;
    }
}

.editor-panel {
    display: flex;
    flex-direction: column;
    gap: 1.75em;
    &__title {
        font-size: 1.75em;
        margin: 0;
        padding: 0;
    }
    &__block {
        display: flex;
        flex-direction: column;
        gap: .25em;
    }
    &__items {
        display: flex;
        flex-direction: column;
        gap: 1.25em;
    }

    &__item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1em;
        padding: .25em 0;

        &__title {
            font-size: 1.25em;
        }
        &__texts {
            display: flex;
            flex-direction: column;
            gap: .75em;
        }
    }

}


.actions-logs {
    display: flex;
    flex-direction: column;
    gap: var(--col-margin);

    &__item {
        font-size: 1.25em;
        line-height: 1.4;

        &__link {
            color: var(--primary);
        }


        &__changes {
            font-size: .875em;
            display: flex;
            flex-wrap: wrap;
            gap: 0 1em;
        }

        &__show-changes {
            border-bottom: 1px solid;
            font-weight: bold;
            cursor: pointer;
        }

        &__time {
            font-size: .875em;
        }
    }
}
