.news {
    padding: 0;
    display: flex;
    width: calc(33% - 1.5em);
    margin: 0 .75em 1.5em;
    min-width: calc(33% - 1.5em);
    flex-direction: column-reverse;
    position: relative;
    box-shadow: var(--block-box-shadow);
    @include light() {
        box-shadow: none;
    }
    &--pending {
        background: none;
    }

    &--pending &__top, &--pending &__cover {
        opacity: .5;
    }

    &--without-picture {
        width: 100%;
    }

    &--full-width, &:last-of-type {
        flex-direction: row;
        margin: 0 .75em 1.5em;
        width: 100%!important;
        flex: unset!important;
    }

    &--full-width &__cover, &:last-of-type &__cover  {
        flex: 1;
        height: 100%;
        padding-top: 0;
    }

    &--full-width &__content, &:last-of-type &__content {
        flex: 1.75;
    }

    @include mobile() {
        width: 100%!important;
        font-size: .875em;
        flex: unset!important;
        max-width: unset!important;
        flex-direction: column-reverse!important;
    }

    &__title {
        text-decoration: none;
        text-transform: uppercase;
        font-size: 1.5em;
        font-weight: 700;
        display: inline-block;
        margin: -.5em 0 0;
    }

    &__cover {
        width: 100%;
        height: 100%;
        padding-top: 50%;
        background-size: 75%;
        background-position: center;
        background-color: var(--bg-darkest);
        background-image: url("/pictures/logo-grey.svg");
        background-repeat: no-repeat;
        position: relative;
        &__inner {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
        }
        @include mobile() {
            width: 100%;
            padding-top: 60%;
        }
    }

    &__read-more {
        color: #777;
        text-decoration: underline;
        text-shadow: 0 1px 1px #fff;
        font-weight: 600;

        &:hover {
            color: #999;
        }
    }

    &__content {
        padding: 1.5em 1em;
        background: var(--box-color);
        transition: background .35s;
        @include light() {
            background: var(--bg-darker);
        }
    }

    &:hover &__content {
        background: var(--box-color-hover);
    }

    &__short-content {
        font-family: var(--font-texts);
        color: var(--text-lighter);
        text-decoration: none;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 5;
        overflow: hidden;
        font-size: 1.125em;
        line-height: 1.5;
        margin: 0 0 -.5em;
        br {
            display: none;
        }

        p {
            margin: 0;
        }
    }

    &__info {
        margin: .75em 0;
        font-size: .875em;

        i {
            margin: 0 .5em 0 0;
        }

        span {
            display: inline-block;
            background: var(--bg-darker-2);
            color: var(--text-color);
            padding: .35em 1em;
        }
        a {
            color: var(--text-color);
        }
    }

    &__date {
        background: #111;
        color: #fff;
        padding: .25em;
    }
    &__actions {
        z-index: 10000;
        position: absolute;
        top: .5em;
        right: .5em;
        opacity: 0;
        transition: all .25s;
    }

    &:hover &__actions {
        opacity: 1;
    }



    &--fill {
        width: unset!important;
        flex-direction: row-reverse!important;
        flex: 1;
    }

    &--fill &__cover {
        padding: 0;
        @include mobile() {
            padding-top: 60% !important;
        }
    }

    &--with-picture + &--fill {
        margin: 0 .75em 1.5em .75em;
        flex-direction: column-reverse!important;
        @include mobile() {
            width: 100%!important;
        }
    }

    &--full-width + &--fill {
        margin: 0 .75em 1.5em;
    }


    &--with-picture + &--with-picture + &--fill {
        width: calc(33% - 1.5em)!important;
        flex: unset;
        margin: 0 .75em 1.5em;
        @include mobile() {
            width: 100%!important;
        }
    }

    &--with-picture + &--with-picture + &--with-picture +  &--fill {
        width: unset!important;
    }


    &--before-fill &__cover {
        padding: 0;
        min-height: 16em;
    }

    &--with-picture + &--with-picture + &--with-picture &--fill {
        width: unset!important;
    }

    &--without-picture + &--with-picture + &--with-picture + &--fill {
        width: 100%!important;
        flex-direction: row!important;
    }


}
.news--fill.news--first {
    width: unset;
}
.news.news--without-picture.news--full-width.news--fill {
    width: 100%!important;
}
.news--with-picture.news--before-fill {
    width: unset;
    flex: 1;
    margin: 0 .75em 1.5em .75em;
}
.news--fill.news.news--before-last {
    width: 100%!important;
    flex: 1;
}

.news-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 1em -.75em 0;
}

.see-also {
    display: flex;
    flex-direction: column;
    gap: var(--col-margin);
}

.box--see-also {
    position: sticky;
    top: 4.5em;
    max-height: calc(100vh - 4.5em);
    overflow: auto;
    @include mobile {
        position: unset;
        margin: 0;
        max-height: unset;
    }
}


.short-article {
    padding: .5em 0;
    display: block;
    text-decoration: none;
    @include hover();

    @include mobile() {
        font-size: .875em;
    }


    &:last-of-type {
        border-bottom: 0;
    }
    &__cover + &__texts {
        width: calc(100% - 7em);
    }


    &__top {
        display: flex;
        align-items: center;
        gap: var(--col-margin);
    }


    &__cover {
        width: 7em;
        height: 7em;
        padding: 0;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }

    &__title {
        font-weight: 500;
        font-size: 1.125em;
        margin: 0 0 .5em;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 4;
        overflow: hidden;
    }

    &__cover + &__title {
        max-width: calc(100% - 8em);
    }
    &__date {
        font-size: .875em;
        margin: 0 0 .25em;
    }
    &__info {
        margin: .25em 0 0;
        font-size: .875em;
        span {
            margin: 0 .5em 0 0;
        }
    }
    i {
        margin: 0 .5em 0 0;
    }
}



.articles-list {
    display: flex;
    overflow: hidden;
    gap: var(--col-margin);
    @include mobile() {
        flex-direction: column;
    }
    &__block {
        flex: 1;
        display: flex;
        flex-wrap: wrap;
        gap: var(--col-margin);
        @include mobile() {
            flex-direction: column;
        }
        &--big {
            flex-direction: column;
            flex: .5;
        }
        &--right {
            flex-direction: column;

            @include mobile() {
                height: unset;
            }
        }
    }
}
.article {
    text-decoration: none;
    color: var(--box-text-color-dark);
    width: 50%;
    position: relative;
    background-color: #111;
    background: url('/resources/images/noise.jpg') no-repeat center center;
    background-size: cover;
    padding: 10em 0 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border-radius: var(--border-radius-standard);
    overflow: hidden;

    @include mobile() {
        width: 100%;
    }
    &:hover {
        filter: brightness(1.05);
    }
    &--big {
        flex: .5;
        padding: 12em 0 0;
        width: unset;
        @include mobile() {
            font-size: .875em;
        }
    }
    &__cover {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        background-position: center;
        background-size: cover;
    }
    &__texts {
        background: rgba(0, 0, 0, 0.65);
        padding: 1em;
        display: flex;
        flex-direction: column;
        gap: calc(var(--col-margin) * 1.25);
        position: relative;
        z-index: 2;
    }
    &__title {
        font-size: 1.25em;
        font-weight: bold;
    }
    &__short-content {
        box-sizing: border-box;
        height: 4em;
        display: -webkit-box!important;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 1.125em;
        line-height: 1.35;
    }
    &--big &__title {
        font-size: 1.4375em;
    }
}

.news-blocks-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(450px, 100%), 1fr));
    gap: calc(var(--col-margin) * 1.5);
    @include mobile() {
        grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    }
    &__pager-container {
        padding: 1em 0 0;
    }
}

.news-block {
    text-decoration: none;
    @include hover;
    @include mobile() {
        width: 100%;
    }
    &--card {
        display: flex;
        align-items: flex-start;
        gap: var(--col-margin);
        @include mobile() {
            font-size: .875em;
        }
    }
    &--for-program {
        width: 100%;
        font-size: 1em;
        margin: 0;
        &:first-of-type {
            padding-top: 0;
        }
    }

    &--no-picture {
        font-size: 1.25em;
    }
    &__texts {
        display: flex;
        flex-direction: column;
        gap: .5em;
    }
    &__cover {
        display: block;
        width: 0;
        min-width: 20%;
        aspect-ratio: 4/3;
        background-color: #111;
        background: url('/resources/images/noise.jpg') no-repeat center center;
        background-size: cover;
        border-radius: var(--border-radius-standard);
        box-shadow: var(--element-box-shadow);
        position: relative;

        &__foreground {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            z-index: 1;
        }
        &__background {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            filter: blur(4px);
            background-size: cover;
            background-position: center;
            opacity: .5;
        }
    }
    &--card-wide &__cover {
        min-width: 22.5%;
        @include mobile() {
            min-width: 35%;
        }
    }
    &__title {
        display: block;
        color: inherit;
        text-decoration: none;
        font-size: 1.125em;
        font-weight: 600;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
         line-clamp: 3;
        @include light() {
            font-size: 1.25em;
        }
    }

    &__short-content {
        font-family: var(--font-texts);
        display: block;
        color: inherit;
        text-decoration: none;
        max-height: 6.25em;
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 4;
        p {
            margin: 0 0 .5em;
        }
    }
    &--no-picture &__short-content {
        display: none;
    }
    &__info {
        font-size: .875em!important;
        display: block;
        color: inherit;
        text-decoration: none;
        font-style: italic;
    }

    &--card &__title {
        padding: 0;
    }
}


.article-page {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--col-margin);

    &__title {
        margin: 0;
        font-size: 2.25em;
        font-weight: 600;
    }

    &__picture {
        width: 100%;
        border-radius: var(--border-radius-standard);
    }
}

.tags-list {
    display: flex;
    flex-wrap: wrap;
    gap: .25em;
    &__item {
        background: var(--bg-darker-2);
        text-decoration: none;
        padding: .25em .5em;
        display: inline-block;

        &:hover {
            filter: brightness(1.025);
        }
    }
}
