.box {
    display: flex;
    flex-direction: column;
    background: var(--box-color);
    box-shadow: var(--block-box-shadow);
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius-big);
    position: relative;
    box-sizing: border-box;

    &:before {
        z-index: 0;
        background-image: url("/resources/images/fabric2.png");
        background-size: 320px;
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
        opacity: .05;
        border-radius: var(--border-radius-big);
        @include light() {
            opacity: .32;
        }
    }

    &--dark {
        background: var(--box-color-dark) !important;
        color: var(--box-text-color-dark);
        --box-color-hover: var(--box-color-hover-dark);
        --links-color: var(--box-text-color-dark);
        &:before {
            filter: invert(1);
            opacity: .4;
        }
    }

    &--stretch {
        height: calc(100% - var(--col-margin) * 2);
    }

    &__breadcrumbs {
        padding: 1rem;
        background: var(--overlay-darken-2);
        @include light() {
            padding: 1rem 1rem 0;
        }
    }

    &__heading {
        min-height: 2em;
        text-align: left;
        display: flex;
        text-decoration: none;
        align-items: center;
        justify-content: space-between;
        gap: var(--col-margin);
        padding: 1rem;
        text-overflow: ellipsis;
        position: relative;
        transition: color .2s;
        background: var(--overlay-darken);
        @include mobile() {
            flex-wrap: wrap;
            min-height: unset;
            align-items: stretch;
        }

        &:before {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: repeating-linear-gradient(90deg, #fff 0, #fff 1.74em, rgba(255, 255, 255, 0) 1.75em, rgba(255, 255, 255, 0) 3.5em 3.5em);
            mask-image: linear-gradient(to bottom, black 20%, transparent 100%);
            opacity: 0.05;
            pointer-events: none;
            z-index: 0;
            @include light() {
                display: none;
            }
        }
        &:after {
            content: '';
            display: block;
            position: absolute;
            bottom: -2px;
            left: 1em;
            width: calc(100% - 2em);
            height: 0;
            border-top: 1px solid var(--border-color);
            border-bottom: 1px solid var(--border-color-second);
        }
        &--no-border:after {
            display: none;
        }

        &__buttons {
            flex: 1;
        }

        &__inner {
            max-width: 100%;
            margin: 0;
            padding: 0;
            line-height: 1.4;
            display: flex;
            align-items: center;
            font-weight: 600;
            font-size: 1.625em;
            text-shadow: var(--big-texts-shadow);
            @include light() {
                line-height: 1;
            }
            @include mobile {
                font-size: 1.3125em;
            }
        }

        a, strong {
            color: var(--primary);
        }

        i {
            margin-right: .5em;
        }

        &__right {
            margin-left: auto;
            white-space: nowrap;
            position: relative;
            z-index: 2;
            height: 1.75em;
            margin-top: -.875em;
            @include mobile() {
                margin-left: unset;
                margin-top: unset;
                height: unset;

            }
            &:empty {
                display: none;
            }

        }

        &__count {
            font-size: 1.25em;
            color: var(--primary);
        }

        &__link {
            font-size: .75em;
        }

        &--small &__inner {
            font-size: 1rem;
            letter-spacing: .4px;
        }

        &__count {
            font-weight: bold;
        }
    }

    &__inner + &__heading {
        border-top: 1px solid var(--border-color);
        @include light() {
            border-top: none;
            margin: 1em 0 0;
        }
    }

    &--dark &__heading {
        color: var(--box-text-color-dark);
        border-bottom: 1px solid var(--border-color-dark);
        @include light() {
            border-bottom-width: 0;
            &:after {
                opacity: .25;
            }
        }
    }

    &--dark &__heading__inner {
        text-shadow: var(--big-texts-shadow-dark);
    }

    &--dark &__inner {

        @include light() {
            color: var(--box-text-color-dark);
        }
    }

    &__inner {
        flex: 1;
        padding: 1rem 1rem 1.25rem;
        position: relative;
        @include light() {
            padding: 1em;
        }

        &:empty {
            display: none;
        }
    }

    &__pager {
        .pagination {
            padding: 1em;
        }

    }
}

.col--sidebar .box {
    &__inner {
        &:before {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: repeating-linear-gradient(90deg, #fff 0, #fff 1.74em, rgba(255, 255, 255, 0) 1.75em, rgba(255, 255, 255, 0) 3.5em 3.5em);
            mask-image: linear-gradient(to bottom, black 0%, transparent 95%);
            opacity: 0.0175;
            pointer-events: none;
            z-index: 0;
            @include light() {
                display: none;
            }
        }
    }
}

a.box__heading .box__heading__inner:after {
    font-family: "Font Awesome 5 Free";
    content: "\f054";
    font-weight: 900;
    margin: 0 0 -.125em .75em;
    opacity: .75;
    font-size: .875em;
}

a.box__heading:hover {
    color: var(--primary);
}


.col > .box, .row > .box {
    width: 100%;
}

.col .box__inner {

}
