.box {
    margin: 0 0 var(--col-margin);
    display: flex;
    flex-direction: column;
    background: var(--box-color);
    box-shadow: var(--block-box-shadow);
    border-top: 1px solid var(--border-color);

    @include light() {
        background: #fff;
        box-shadow: none;
        border: 1px solid var(--border-color);
        border-radius: .75em;
        flex: 1;
    }

    @include mobile() {
        margin: .5em 0;
    }

    &--top {
        @include light() {
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }
    }

    &--dark {
        background: var(--box-color-dark)!important;
        color: var(--box-text-color-dark);
    }

    &--stretch {
        height: calc(100% - var(--col-margin) * 2);
    }

    &__breadcrumbs {
        padding: 1em 1em 0;
    }

    &__heading {
        min-height: 1.75rem;
        text-align: left;
        font-size: 1.25rem;
        display: flex;
        text-decoration: none;
        align-items: center;
        justify-content: space-between;
        border: none;
        border-bottom: 1px solid var(--border-color);
        padding: 1rem 1rem 0.75rem;
        white-space: nowrap;
        text-overflow: ellipsis;
        transition: all .25s;
        @include light() {
            min-height: 2em;
            padding: 1em;
            position: relative;
            border-bottom: none;
            align-items: center;
            font-size: 1em;
            &:after {
                content: '';
                display: block;
                position: absolute;
                bottom: -2px;
                left: 1em;
                width: calc(100% - 2em);
                height: 1px;
                background: var(--border-color);
                opacity: .5;
            }
        }
        &__inner {
            max-width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            @include light() {
                width: 100%;
                line-height: 1;
                display: flex;
                align-items: center;
                font-weight: 600;
                font-size: 1.625em;
            }
            strong {
                color: var(--primary);
            }
            i {
                margin-right: .5em;
            }
        }
        @include mobile {
            overflow: auto;
            align-items: flex-start;
            font-size: 1.125em;
            flex-direction: column;
        }
        &__right {
            .buttons-row {
                @include light() {
                    margin: 0 0 .5em;
                }
            }
            &:empty {
                display: none;
            }
            @include mobile {
                margin: 1em 0 0;
            }
        }
        &__count {
            font-size: 1.35em;
            margin: 0 0 0 0.05em;
            @include light() {
                margin: 0 0 .125em .25em;
                font-size: 1.25em;
            }
        }
        &__link {
            font-size: .75em;
        }

        &--small &__inner {
            font-size: 1rem;
            letter-spacing: .4px;
        }

        &__count {
            font-weight: bold;
        }
    }

    &__inner + &__heading {
        border-top: 1px solid var(--border-color);
        @include light() {
            border-top: none;
            margin: 1em 0 0;
        }
    }

    &--dark &__heading {
        color: var(--box-text-color-dark);
        border-bottom: 1px solid var(--border-color-dark);
    }
    &--dark &__inner {
        @include light() {
            color: var(--box-text-color-dark);
        }
    }

    &__inner {
        flex: 1;
        padding: 1rem 1rem 1.25rem;
        position: relative;
        @include light() {
            padding: 1em;
        }
    }
}


a.box__heading .box__heading__inner:after {
    font-family: "Font Awesome 5 Free";
    content: "\f054";
    font-weight: 900;
    margin: 0 0 -.125em .75em;
    opacity: .75;
    font-size: .875em;
}
a.box__heading:hover {
    color: var(--primary);
}


.col > .box, .row > .box {
    width: 100%;
}

.col .box__inner {

}
