.breadcrumbs {
    color: var(--text-lightest);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-bottom: 0;

    @include mobile {
        font-size: 1.125em;
    }
    &__item {
        color: inherit;
        text-decoration: none;
        cursor: pointer;
        &:after {
            color: inherit;
            content: "/";
            margin: 0 0.5em 0 0.7em;
        }
        &:hover {
            text-decoration: underline;
        }
        &:last-of-type:after {
            display: none;
        }
        &--current {
            color: var(--links-color);
            cursor: default;

            &:after {
                display: none;
            }

            &:hover {
                text-decoration: none;
            }
        }
    }
}
