.breadcrumbs {
    padding: 1rem 1rem 0;
    font-size: 1em;
    background: var(--box-color);
    color: var(--text-lightest);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border: 1px solid var(--border-color);
    border-bottom: 0;
    @include light() {
        padding: 1rem 0 0;
        border: none;
    }
    @include mobile {
        font-size: 1.125em;
        @include light() {
            padding: 0;
        }
    }
    &__item {
        color: inherit;
        text-decoration: none;
        cursor: pointer;
        &:after {
            color: inherit;
            content: "/";
            margin: 0 0.5em 0 0.7em;
        }
        &:hover {
            text-decoration: underline;
        }
        &:last-of-type:after {
            display: none;
        }
        &--current {
            color: var(--links-color);
            cursor: default;

            &:after {
                display: none;
            }

            &:hover {
                text-decoration: none;
            }
        }
    }
}
