.calendar-page {
    &__years {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        gap: var(--col-margin);
    }

    &__year {
        width: 100%;
        font-size: 2em;
        text-decoration: none;
        display: block;
        @include hover;

        @include mobile() {
            font-size: 1.5em;
        }

        &__count {
            font-size: .75em;
            font-weight: bold;
            color: var(--primary);
            margin: 0 0 0 .25em;
        }
    }

    &__months {
        display: flex;
        flex-direction: column;
        gap: var(--col-margin);
    }

    &__month {
        font-size: 1.75em;
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: .5em;
        @include hover;

        &__count {
            font-weight: bold;
            color: var(--primary);
            font-size: .875em;
        }
    }

    &__channel {
        font-size: 1.3125em;
        text-decoration: none;
        display: inline-flex;
        align-items: center;
        gap: .5em;
        margin-bottom: .5em;
        @include hover;
        &__logo {
            display: block;
            width: 2em;
            height: 2em;
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
        }
    }

    &__days {
        display: flex;
        flex-direction: column;
        gap: var(--col-margin);
    }

    &__day {

        &__title {
            font-size: 1.875em;
            font-weight: 600;
            margin-bottom: .5em;
        }

        &__records {
            display: flex;
            flex-direction: column;
            gap: var(--col-margin);
        }
    }

}
