.category {
    background: var(--bg-darker-2);
    text-decoration: none;
    padding: .5em 1.25em;
    margin: .5em 0;
    display: inline-block;
    cursor: pointer;

    &:hover {
        background: var(--bg-darker-3);
    }

    &--active {
        background: var(--primary)!important;
        color: var(--button-active-text);
    }
   &__count {
        font-weight: bold;
        margin: 0 0 0 .25em;
    }
}


.categories-list {
    padding: 1em;
    background: var(--bg-darker);
    white-space: nowrap;
    overflow: auto;
    &--multiline {
        display: flex;
        flex-wrap: wrap;
        .category {
            margin: 0 .5em .5em 0;
        }
    }
    @include light() {
        padding: .5em 0 0;
        background: none;
    }
    @include mobile() {
        font-size: .875em;
    }
}



