.category {
    background: var(--bg-darker-2);
    text-decoration: none;

    padding: .75em .9375em;
    display: inline-block;
    cursor: pointer;
    user-select: none;
    box-shadow: var(--input-box-shadow);
    &:hover {
        background: var(--bg-darker-3);
    }

    @include light() {
        padding: .75em 1.125em;
        background: var(--bg-darker);
        transition: all .2s;
        border-radius: var(--border-radius-standard);
        &:hover {
            background: var(--bg-darker-3);
        }
    }

    &--active {
        background: var(--primary);
        color: var(--button-active-text);
        box-shadow: var(--element-box-shadow);

        @include light() {
            background: var(--bg-darker-2);
            color: var(--primary);
        }
    }


    &__count {
        font-weight: bold;
        margin: 0 0 0 .25em;
    }
}


.categories-list {
    padding: 2em 0;
    margin: -2em 0 -1em;
    white-space: nowrap;
    display: flex;
    gap: .25em;
    overflow: auto;
    @include mobile() {
        font-size: .875em;
        flex-wrap: wrap;
    }
    &--multiline {
        display: flex;
        flex-wrap: wrap;
        &-collapse {
            padding-bottom: 3.5em;
            position: relative;
            margin-bottom: 1.75em;
            .category--collapsed {
                display: none;
            }
        }
    }


    &__show-all {
        position: absolute;
        text-align: center;
        bottom: 0;
        left: 0;
        width: 100%;
        box-sizing: border-box;
    }
}



