.category {
    background: var(--bg-darker-2);
    text-decoration: none;
    padding: .75em 1.125em;
    margin: .5em 0;
    display: inline-block;
    cursor: pointer;

    &:hover {
        background: var(--bg-darker-3);
    }

    @include light() {
        margin: 0;
        background: none;
        transition: all .2s;
        border-radius: .5em;
        &:hover {
            background: var(--bg-darker);
        }
    }

    &--active {
        background: var(--primary);
        color: var(--button-active-text);
        @include light() {
            background: var(--bg-darker);
            color: var(--primary);
        }
    }

    &__count {
        font-weight: bold;
        margin: 0 0 0 .25em;
    }
}


.categories-list {
    padding: 1em;
    background: var(--bg-darker);
    white-space: nowrap;
    overflow: auto;
    &--multiline {
        display: flex;
        flex-wrap: wrap;
        .category {
            margin: 0 .5em .5em 0;
        }
    }
    @include light() {
        padding: 0 0 1em;
        background: none;
    }
    @include mobile() {
        font-size: .875em;
    }
}



