.channels-list {
  display: flex;
  flex-wrap: wrap;
  background: linear-gradient(180deg, #211f1c, #21201d, rgba(63, 59, 53, 0.88));
  padding: 1em;
  justify-content: flex-start;
}


.channel-item {
  text-align: center;
  margin: .25em;
  width: 8em;
  display: inline-block;
  position: relative;
  border-radius: .5em;
  overflow: hidden;
  text-decoration: none;
  @include mobile {
    width: 100%;
  }
  &:before {
    transition: all .125s;
    background: linear-gradient(#b2b2b2, #d9d9d9 49%, #bdbdbd 50%, #eee);
    content: "";
    display: block;
    width: 100%;
    height: 8.5em;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    border-radius: .25em;
  }
  &:hover:before {
    filter: brightness(1.125);
    box-shadow: 0 0.5em 1.5em -1em inset #000, 0 0.25em 1em #fff, 0 0.25em 2em #fff;
  }

  &__logo {
    background-image: url("/pictures/logo-grey.png");
    height: 6.5em;
    border-radius: .25em;
    border: 2px solid #3a3a3a;
    padding: 1em;
    width: calc(100% - 2em);
    background-size: 75%;
    background-repeat: no-repeat;
    background-position: Center center;
    position: relative;
    z-index: 1;
    &--back {
      transition: all .35s;
      border: none;
      position: absolute;
      filter: blur(8px) brightness(.25);
      transform: scale(1.75);
      display: none;
      opacity: 0;
    }
    @include mobile {
      background-size: contain;
    }
  }
  &:hover &__logo--back {
    display: block;
    filter: blur(24px) brightness(.85) contrast(1.5);
    opacity: .75;
  }

  &__name {
    display: block;
    line-height: 1.125;
    color: #c4bd97;
    font-size: 1.125em;
    font-weight: bold;
    position: relative;
    z-index: 10;
    margin: 0 0 .5em;
  }
}

.top-list {
  background: linear-gradient(to bottom, #ddd, #eee);
  margin: 0;
  padding: 1em;
  background: #f4f4f4;
  border-top: 1px solid #fafafa;
  border-bottom: 1px solid #d9d9d9;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2), inset 0 0 4px 0 rgba(255, 255, 255, 0.6);
  &__item {
    font-size: 1.125em;
    margin: .25em;
    display: inline-block;
    cursor: pointer;
    color: #777;
    text-decoration: none;
    &--active {
      color: #555;
      font-weight: 600;
      border-bottom: 1px solid #555;
    }
    &__count {
      font-size: .875em;
      font-weight: 600;
    }
    &--all {
      font-size: 1.75em;
    }

    &:hover {
      color: #333;
    }
  }
}

.channels-list-page {
  &__tabs {
    padding: 1em;
    display: flex;
    align-items: center;
  }
  &__button--advertising {
    margin: 0 0 0 .75em;
  }
}

.channel-page {
    &__top {
        display: flex;
        align-items: center;
        margin: 0 0 1em;
    }
    &__description {
        flex: 3;
        padding: 0 0 0 1em;
    }
    &__selected-logo {
        width: 15em;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0 1em 0 0;
        &__picture {
            width: 15em;
            height: 15em;
            background-size: contain;
            background-position: center center;
            background-repeat: no-repeat;
            position: relative;
            z-index: 1;
            &--shadow {
                position: absolute;
                top: 0;
                left: 0;
                filter: blur(10px) brightness(0.5);
                z-index: 0;
                opacity: 0.5;
            }
            &__container {
                position: relative;
            }
        }

        &__years {
            font-style: italic;
            font-size: .875em;
        }
    }
    &__logos {
        flex: 1;
        display: flex;
        align-items: center;
        &__list {
            max-height: 20em;
            overflow: auto;
            display: block;
            border-left: 1px solid #ccc;
            padding: 0 1em;
            &__inner {
                display: flex;
                flex-direction: column;
                justify-content: center;
                margin: 0 0.5em;
            }
            &__item {
                width: 2em;
                height: 2em;
                background-color: #eee;
                display: inline-block;
                background-size: contain;
                background-position: center center;
                background-repeat: no-repeat;
                border: 1px solid #ccc;
                margin: .25em 0;
                cursor: pointer;
                padding: .25em;
                &:hover {
                    border-color: #777;
                }
                &--selected {
                    border-color: #333;
                }
            }
        }
    }
    &__programs {
        margin: -1em;
    }
}
