.channels-list {
  display: flex;
  flex-wrap: wrap;
  background: linear-gradient(180deg, #211f1c, #21201d, rgba(63, 59, 53, 0.88));
  padding: 1em;
  margin: 1em 0;
  justify-content: flex-start;
}


.channel-item {
  text-align: center;
  margin: .25em;
  width: calc(10% - .5em);
  display: inline-block;
  position: relative;
  border-radius: .5em;
  overflow: hidden;
  text-decoration: none;
  &:before {
    background: linear-gradient(#b2b2b2, #d9d9d9 49%, #bdbdbd 50%, #eee);
    content: "";
    display: block;
    width: 100%;
    height: 8.5em;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    border-radius: .25em;
    box-shadow: 0 .5em 1.5em -1em inset #000, 0 .25em 1em #fff;
  }
  &__logo {
    height: 6.5em;
    border-radius: .25em;
    border: 2px solid #3a3a3a;
    box-shadow: 0 0.5em 1em -0.25em rgb(55, 55, 55);
    padding: 1em;
    width: calc(100% - 2em);
    background-size: 75%;
    background-repeat: no-repeat;
    background-position: Center center;
    position: relative;
    z-index: 1;
  }

  &__name {
    display: block;
    line-height: 1.125;
    color: #c4bd97;
    font-size: 1.125em;
    font-weight: bold;
    position: relative;
    z-index: 10;
    margin: 0 0 .5em;
  }
}

.cities-list {
  background: linear-gradient(to bottom, #ddd, #eee);
  margin: 1em 0 0;
  padding: 1em;
  background: #f4f4f4;
  border-top: 1px solid #fafafa;
  border-bottom: 1px solid #d9d9d9;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2), inset 0 0 4px 0 rgba(255, 255, 255, 0.6);
  &__item {
    font-size: 1.125em;
    margin: .25em;
    display: inline-block;
    cursor: pointer;
    color: #777;
    &--active {
      color: #555;
      font-weight: 600;
      bottom: 1px solid #555;
    }
    &--all {
      font-size: 2em;
    }

    &:hover {
      color: #333;
    }
  }
}

