.forum-section {
  background: repeating-linear-gradient(90deg, #3f3b35 0px, #3f3b35 20px, #23211e 21px, #201f1c 40px);
  margin: 1em 0;

  &__title {
    font-weight: bold;
    text-align: left;
    padding: 0.5em;
    z-index: 10000000;
    font-size: 1.5em;
    color: #c4bd97;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.5));
    box-shadow: 0 1em 1em -0.75em #5a5a5a inset;
    border-top: 1px solid #48462e;
    border-bottom: 1px solid #423f2f;
    border-left: 1px solid #44422c;
    border-right: 1px solid #424026;
    @include mobile {
      flex-direction: column;
    }
    &--main-page {
      margin: 1em 0 -.75em;
      background: linear-gradient(#403c36 0%, #696259 48%, #262320 52%, #282521 100%);
      border-bottom: 3px solid #5e5b48;
    }
    &__buttons {
      font-size: .625em;
      @include mobile {
        text-align: center;margin: .5em 0 0;
      }
      .button {
        margin: 0 0 0 1em;
      }
    }
  }

  &__children {
    color: #111;
  }

  &__subsection {
    margin: 0 0 .5em;
    &__title {
      background: #e2e2e2;
      color: #111;
      font-weight: bold;
      justify-content: space-between;
      padding: .75em;
      position: relative;
      border-bottom: 1px solid #c7c7c7;
      font-size: 1.2em;
    }
  }

  &__pager-container {
    background: linear-gradient(#333, #000);
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__pager {
    margin: -.5em 0 0;
  }

  &__search {
    flex: 1;
    text-align: right;
    margin: .5em 0 0;
    &--subforum {
      margin: 0;
    }
  }
  &__breadcrumbs {
    background: linear-gradient(0deg, rgba(97, 97, 97, 0.25), rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.5));
    padding: .75em;
    font-size: 1.125em;
    &--index {
      margin: 0 0 -1em;
    }
    &--with-search {
      display: flex;
      align-items: center;
      padding: .25em 1em;
    }
  }

  &__breadcrumb {
    color: #c4bd97;
    text-decoration: none;
    font-weight: 300;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
    &:after {
      font-size: .75em;
      content: " >>";
      margin: 0 .25em;
    }
    &:last-of-type {
      cursor: default;
      font-weight: bold;
      &:hover {
        text-decoration: none;
      }
    }
    &:last-of-type:after {
      content: "";
    }
  }
  &__form {
    background: #fafafa;
    padding: 1em!important;
    width: calc(100% - 2em);
    .input-container__message {
      margin: 0;
      position: initial;
    }
  }
  .form {
    margin: 0;
  }
}

.forum {
  background: #fff;
  display: flex;
  width: 100%;
  @include mobile {
    flex-direction: column;
    margin: 0 0 .5em;
  }
  a {
    text-decoration: none;
  }
  &__title {
    color: #333;
    font-size: 1.25em;
    font-weight: bold;
    &:hover {
      color: #777;
    }
  }
  &__description {
    color: #555;
    display: block;
  }

  &__users {
    font-size: .875em;
  }

  &__top {
    display: flex;
    align-items: center;
    padding: 1em;
    justify-content: space-between;
    flex: 1.5;
    color: #333;
    text-decoration: none;
    border-right: 1px solid #e3e1e1;
    background: #f5f5f5;
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #ccc;
    &:hover {
      color: #333;
      background: #f3f3f3;
    }
  }

  &__numbers {
    font-weight: 700;
    text-shadow: 0 1px 1px #fff;
    display: flex;
    align-items: center;
    text-align: center;
  }


  &__number {
    font-size: 1.25em;
    &__container {
      margin: 0 0 0 1.5em;
    }
  }

  &__last-topic {
    background: #f0f0f0;
    color: #111;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex: 1;
    padding: 0.5em 1em;
    position: relative;
    border-bottom: 1px solid #c7c7c7;
    text-align: right;
    text-decoration: none;
    border-left: 1px solid #e7e7e7;
    border-bottom: 1px solid #dcdcdc;
    background: linear-gradient(180deg, #efefef, #ececec);
    @include mobile {
      flex-direction: column;
      align-items: flex-start;
    }
    &__text {
      font-size: .825em;
      color: #333;
      text-decoration: none;
      white-space: nowrap;
      text-align: left;
      &:hover {
        color: #777;
      }
    }

    &__date {
      font-size: .875em;
      color: #555;
    }

    &__info {
      display: flex;
      flex-direction: column;
      @include mobile {
        align-items: flex-start;
      }
    }

    &__link {
      color: #555;
      margin: 0 .5em;
      font-weight: 100;
    }

    &__name {
      color: #111;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 22em;
      font-weight: bold;
    }

    &__username {
      font-weight: 300;
      font-size: .875em;
      &__text {
        font-weight: bold;
        color: #333;
        &:hover {
          color: #777;
        }
      }
    }
  }
  &__bottom {
    color: #333;
    background-image: url("/pictures/noise.png");
    padding: 0 0 1em;
    &__line {
      background: #f8f7f4;
      box-shadow: 0 0 1.75em inset #b4b4b4;
      font-size: 1.125em;

      &__heading {
        background: linear-gradient(to bottom, #3d3a35, #534f49);
        padding: .5em;
        color: #fff;
        font-weight: bold;
        border-top: 1px solid #5d5546;
        border-bottom: 1px solid #aca597;
      }

      &__text {
        padding: .5em;
      }
    }
  }
}

.forum-message {
  color: #333;
  background: #fafafa;
  display: flex;
  @include mobile {
    flex-direction: column;
  }
  a {
    color: #555;
  }
  &__top {
    display: flex;
    border-bottom: 1px solid #ccc;
    background: #eee;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    white-space: nowrap;
    width: 16em;
    @include mobile {
      width: 100%;
    }
  }

  &__content {
    position: relative;
    flex: 2;
    border-bottom: 1px solid #ccc;
    background: #f8f7f4;
    background-image: url("/pictures/noise.png");
    .bbQuoteName {
      color: #333;
      padding-left: 5px;
      font-size: .875em!important;
      font-weight: bold;
      padding-top: 7px;
      padding-bottom: 7px;
      margin: 0 auto;
      border-width: 1px 1px 0px 4px;
      border-style: dotted dotted;
      border-color: rgb(0, 0, 0) rgb(0, 0, 0);
      border-image: initial;
      border-bottom: 0px;
      border-left: 4px solid rgb(131, 148, 178);
      background: #e4eaf2;
    }

    .quoteMessage {
      color: rgb(70, 85, 132);
      font-size: .875em!important;
      background: #fff;
      padding: 3px;
      border-width: 0 1px 1px 4px !important;
      border-style: dotted dotted !important;
      border-color: rgb(0, 0, 0) rgb(0, 0, 0) !important;
      border-image: initial !important;
      border-left: 4px solid rgb(131, 148, 178) !important;
      border-top: 0 !important;
    }

    img {
      max-width: 100%;
    }
    .uSpoilerButton {
      background: #eee;
      color: #686868;
      border-width: 1px;
      border-style: solid;
      border-color: #dddddd #c6c6c6 #c6c6c6 #c6c6c6;
      border-radius: 5px;
      -moz-border-radius: 5px;
      cursor: pointer;
      padding: .25em .5em;
      font: inherit;
      margin: .25em 0;

      &:hover {
        background: #ddd;
      }
    }
  }
  &__edited-by {
    font-size: 0.75em;
    bottom: 1.5em;
    text-align: right;
    margin: 1em 0 0;
    color: #aaa;
    &__username {
      font-weight: bold;
    }
  }

  &__user-info {
    color: #555;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
    @include mobile {
      flex-direction: row;
    }
  }

  &__avatar {
    margin: 1em 1em 0;
    width: 12em;
  }

  &__user-texts {
    margin: 1em;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    a {
      font-weight: bold;
      text-decoration: none;
    }
  }
  &__username {
    color: #333!important;
    font-weight: bold;
    margin: 0 0 .5em;
    width: calc(100% - 1.3em);
    text-align: center;
    background: #ccc;
    border-top: 1px solid #fafafa;
    border-bottom: 1px solid #ccc;
    background: linear-gradient(to bottom, #c9cfd8, #d8dbde);
    padding: 1em;
    @include mobile {
      background: none;
      box-shadow: none;
      border: none;
    }
  }
  &__content {
    flex: 1;
    padding: 1em;
  }
  &__group-icon {

  }
  &__date {
   margin: 0;
    border-bottom: 1px dashed #ccc;
    background: #eaeaea;
    font-weight: bold;
    font-size: .95em;
    color: #555;
    border-top: 1px solid #fafafa;
    border-bottom: 1px solid #ccc;
    background: linear-gradient(to bottom, #e4e6e9, #e4eaf2);
    padding: 1em 1em calc(1em + 2px);
    position: relative;
    z-index: 1;
  }
  &__right {
    flex: 3.5;
    display: flex;
    flex-direction: column;
  }
  &__reputation {
    padding: .5em 0 0;
    color: #555;
    &__change {
      font-weight: bold;
      cursor: pointer;
      text-decoration: underline;
    }
    &__number {
      cursor: pointer;
      text-decoration: underline;
    }
  }
  &__warnings {
    color: #555;
    &__number {
      cursor: pointer;
      text-decoration: underline;
    }
  }
  &__awards {
    color: #555;
    &__number {
      cursor: pointer;
      text-decoration: underline;
    }
  }
  &__signature {
    background-image: url(/pictures/noise.png);
    font-size: .75em;
    padding: 1em;
  }
  &__actions {
    border-top: 1px dashed #ccc;
    background: #f4f4f4;
    padding: .5em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: .85em;
    border-top: 1px solid #d0d0d0;
    border-bottom: 1px solid #d4d4c8;
    background-image: url(/pictures/noise.png);
    &__right {
      .button {
        margin: 0 0 0 1em;
      }
    }
  }
  &__edit-form {
    padding: 1em;
  }
  &__user-comment {
    font-size: .875em;
    white-space: normal;
    margin: 0 0 1em;
  }
}

.user-online {
  font-weight: 500;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
  &[data-group-id="4"] {
    color: #900020;
  }
}