.forum-section {

    &__title {
        text-align: left;
        z-index: 10000000;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: var(--box-color-dark);
        color: var(--box-text-color-dark);
        box-shadow: var(--block-box-shadow);
        @include light() {
            background: none;
            color: unset;
            font-weight: 600;
            box-shadow: none;
        }

        @include mobile() {
            font-size: 1em;
            display: block;
        }

        &__inner {
            display: flex;
            align-items: center;
            gap: var(--col-margin);
        }

        &__texts {
            font-size: 1.3125em;
            @include mobile() {
                font-size: 1em;
            }
        }

        &__actions {
            @include mobile() {
                font-size: .75em;
            }
            .button {
                &:hover {
                    background: var(--bg-darker-2);
                }
            }
        }

        &--main-page {
            margin: 1em 0 -.75em;
            background: linear-gradient(#403c36 0%, #696259 48%, #262320 52%, #282521 100%);
            border-bottom: 3px solid #5e5b48;
        }

        &__buttons {
            position: relative;
            z-index: 10;
            @include mobile() {
                text-align: center;
            }
        }
    }

    &__pager-container {
        display: flex;
        justify-content: space-between;
        gap: var(--col-margin);
        background: var(--overlay-darken-2);
        margin: var(--overlay-margin);
        padding: var(--overlay-padding);

        @include mobile() {
            flex-direction: column;
        }
        .pagination {
            margin: 0;
            padding: 0;
        }
    }

    &__subsection {
        margin: 0 0 .5em;
        box-shadow: var(--block-box-shadow);
        @include light() {
            box-shadow: none;
        }

        &__title {
            padding: 1.25em;
            background: var(--bg-darker-2);
            border: 1px solid var(--border-color);
            font-weight: bold;
            justify-content: space-between;
            position: relative;
            font-size: 1.25em;
            @include light() {
                padding: 1em 0 .5em;
                background: none;
                border: none;
                font-size: 1.5em;
            }
            @include mobile {
                background: var(--box-color);
                font-size: 1.125em;
                padding: .75em;
            }

            &__buttons {
                @include mobile() {
                    margin: 0;
                }
            }
        }
    }

    &__messages {
        &__nothing-found {
            font-size: 1.3125em;
        }
    }
    &__search {
        text-align: right;
        margin: 0;
        margin-left: auto;
        display: flex;
        justify-content: flex-end;
        gap: .5em;

        @include mobile() {
            font-size: .75em;
            width: 100%;
            flex: unset;
            margin: 1em 0 0;
            padding: 0 0 1em;
            text-align: left;
            justify-content: flex-start;
        }

        &--subforum {
            font-size: .875em;
            margin-left: auto;
            &__input {
                min-width: 16em;
                @include mobile() {
                    min-width: unset;
                    flex: unset;
                    width: 100%;
                }
            }
            @include mobile() {
                flex-wrap: wrap;
            }
            &__type {
                background: var(--box-color-hover-dark);
                flex: unset;
                margin: 0 1px;
                height: 2.785em;
                @include mobile() {
                    flex: 1;
                }
            }
        }
        &--topic {
            flex: unset;
            width: 24em;
            @include mobile() {
                width: auto;
                flex-direction: row;
            }
        }
    }

    &__breadcrumbs {
        font-size: 1.125em;
        box-shadow: var(--block-box-shadow);
        background: var(--overlay-darken);
        border-bottom: 1px solid var(--border-color-dark);
        width: 100%;
        padding: .75em;
        @include light() {
            padding: .75em 0;
            box-shadow: none;
            border: none;
        }
        @include mobile() {
            font-size: 1em;
        }

        &--bottom {
            background: var(--overlay-darken);
            padding: var(--overlay-padding);
            margin: var(--overlay-margin);
        }

        &--with-search {
            display: flex;
            align-items: center;
            height: 100%;
            @include light() {
                padding: 0;
            }
            @include mobile() {
                flex-wrap: wrap;
                padding: 0 .75em;
                @include light() {
                    padding-top: .5em;
                }
            }
        }

        &__buttons {
            font-size: .875em;
            margin: 0 0 0 1em;
            @include mobile() {
                margin: 0 0 1em;
                padding: 0 0 .5em;
                @include light() {
                    padding: 0;
                }
            }
        }
    }

    &__breadcrumb {
        color: inherit;
        text-decoration: none;
        cursor: pointer;
        font-size: 1em;
        margin: 0;
        padding: 0;
        @include mobile {
            padding: .5em 0;
        }
        &:not(.link--active) {
            @include hover(true);
        }

        &:after {
            font-size: .75em;
            content: " >>";
            margin: 0 .25em;
        }

        &:last-of-type {
            cursor: default;
            font-weight: 500;

            &:hover {
                text-decoration: none;
            }
        }

        &:last-of-type:after {
            content: "";
        }
    }

    &__bottom {
        display: flex;
        flex-direction: column;
        gap: var(--col-margin);
    }

    &__form {

        @include mobile() {
            font-size: 0.875em;
        }

        .input-container__message {
            margin: 0;
            position: initial;
        }
    }

}

.forum {
    display: flex;
    width: 100%;
    position: relative;

    @include mobile() {
        flex-direction: column;
    }

    a {
        text-decoration: none;
    }

    &--unread {

        &:before {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: -1em;
            width: .5em;
            height: 100%;
            z-index: 1;
            background: var(--primary);
            @include light() {
                width: .25em;
            }
        }
        &:after {
            content: "";
            display: block;
            position: absolute;
            z-index: 0;
            pointer-events: none;
            top: 0;
            left: -1em;
            width: calc(100% + 2em);
            height: 100%;
            background: var(--bg-darker);
        }
    }


    &__info {
        flex: 1;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        transition: color .2s;
        padding: .25em 0;
        &:hover {
            color: var(--primary);
        }
    }

    &__title {
        font-size: 1.25em;
        font-weight: 600;
        width: 100%;
        color: inherit;
        padding: .25em 0;
        @include mobile() {
            padding: 0;
            @include light() {
                font-size: 1.3125em;
            }
        }
    }

    &__description {
        width: 100%;
    }

    &__users {
        font-size: .875em;
    }

    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex: 1.5;
        text-decoration: none;
        border-bottom: 1px solid var(--border-color);
        border-right: 1px solid var(--border-color);
        background: none;
        z-index: 1;
        @include mobile() {
            padding: .5em 0 0;
            gap: .5em;
            font-size: .875em;
            border-bottom: none;
            border-right: none;
        }
    }

    &:last-of-type &__top, &:last-of-type &__last-topic {
        border-bottom-width: 0;
    }

    &__numbers {
        font-weight: 700;
        font-size: 1.125em;
        display: flex;
        align-items: center;
        text-align: center;
        @include mobile() {
            font-size: 1em;
            opacity: .75;
            font-weight: 400;
            gap: .5em;
        }
    }


    &__number {
        color: var(--primary);
        font-size: 1.25em;
        @include mobile() {
            color: inherit;
            font-size: 1em;
            display: inline-block;
        }
        &__icon {
            display: none;
            @include mobile() {
                display: inline-block;
            }
        }
        &__container {
            margin: .5em 1em;
            @include mobile() {
                margin: 0;
            }
        }

        &__description {
            font-weight: 400;
            @include mobile() {
                display: none;
            }
        }
    }

    &__last-topic {
        font-weight: bold;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        flex: .75;
        padding: .75em 1em;
        position: relative;
        z-index: 1;
        text-align: right;
        text-decoration: none;
        border-bottom: 1px solid var(--border-color);
        width: 25%;
        overflow: hidden;
        @include mobile() {
            width: 100%;
            font-size: .875em;
            flex-direction: column;
            align-items: flex-start;
            @include light() {
                padding: .75em 0;
            }
        }

        &__text {
            text-decoration: none;
            white-space: nowrap;
            text-align: left;
            display: none;

            &:hover {
                color: #777;
            }
        }

        &__date {
            font-weight: normal;
            font-size: .875em;
            @include mobile() {
                order: 0;
                font-size: .9375em;
            }
        }

        &__message {
            transition: color .2s;
            &:hover {
                color: var(--primary);
            }
        }

        &__info {
            display: flex;
            flex-direction: column;
            gap: .25em;
            flex: 1;
            text-align: left;
            padding: 0;
            font-size: 1.125em;
            @include mobile() {
                flex-wrap: wrap;
                width: 100%;
                font-size: 1em;
                align-items: center;
                flex-direction: row;
                gap: .25em .5em;
            }
        }

        &__link {
            color: #555;
            margin: 0 .5em;
            font-weight: 100;
        }

        &__name {
            font-size: 1.125em;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 22em;
            font-weight: normal;
            transition: color .2s;
            @include mobile() {
                width: 100%;
                white-space: unset;
                flex-wrap: wrap;
                order: 0;
                font-size: 1.3125em;
                min-width: 100%;
                max-width: unset;
            }
            &:hover {
                color: var(--primary);
            }
        }

        &__username {
            font-size: .875em;
            display: flex;
            align-items: center;
            gap: .75em;
            @include mobile() {
                order: 1;
                font-size: 1em;
            }
            &__text {
                font-weight: 400;
            }
        }
    }

    &__list {
        margin: -1em 0;
    }

    &__stats {
        font-size: 1.125em;
        line-height: 1.6;
    }

    &__param {
        font-size: .75em;
        padding: .25em;
        background: var(--bg-darker-2);
        width: 1.5em;
        height: 1.5em;
        display: inline-block;
        margin-right: .25em;
        text-align: center;
        line-height: 1.5;
        border-radius: var(--border-radius-small);
        box-shadow: var(--element-box-shadow);
        &--dark {
            background: var(--bg-darkest);
        }
    }

    &__buttons {
        box-shadow: var(--block-box-shadow);
        background: var(--box-color);
        padding: 1em;
        display: flex;
        flex-wrap: wrap;
        gap: .5em;
        @include light() {
            box-shadow: none;
            background: none;
            padding: .75em 0;
            margin: 0 -1em;
        }
        @include mobile() {
            padding: 1em 0 .5em;
            font-size: 0.875em;
            border-bottom: 1px solid var(--border-color-dark);
            margin: 0;
            @include light() {
                padding: 1em .5em;
                margin: 0 -1em;
            }
        }

        &__item {
            font-size: 1.125em;
            background: var(--bg-darker-2);
            text-decoration: none;
            padding: .25em .75em;
            border-radius: 5em;
            box-shadow: var(--block-box-shadow);
            font-weight: 600;
            transition: all .2s;
            @include light() {
                background: rgba(255, 255, 255, .07);
                box-shadow: none;
                color: var(--box-text-color-dark);
            }

            &:hover {
                background: var(--bg-darkest);
                color: var(--box-text-color-dark);
                @include light() {
                    color: var(--primary);
                    background: rgba(255, 255, 255, .12);
                }
            }

            @include mobile() {

                @include light() {
                    display: inline-block;
                }
            }
        }
    }

    &__top-panel {
        position: absolute;
        top: 0;
        left: -1em;
        width: calc(100% + 2em);
        box-sizing: border-box;
        padding: 0 1em;
        background: var(--box-color-dark);
        color: var(--box-text-color-dark);
        height: 7em;
        @include mobile() {
            position: unset;
            height: unset;
            padding: 0 1.25em;
            width: 100%;
        }

        &:before {
            content: "";
            display: block;
            position: absolute;
            top: 3.25em;
            width: 100%;
            height: 1px;
            background: var(--border-color-dark);
            @include mobile() {
                display: none;
            }
        }

        &__outer {
            height: 6em;
            @include mobile() {
                height: unset;
                margin: -.5em -1em 0;
            }
        }

        &__inner {
            max-width: 1400px;
            margin: 0 auto;
            height: 100%;
            display: flex;
            flex-direction: column;
            @media screen and (max-width: 1367px) {
                max-width: 1280px;
            }
        }



    }
}


.forum-message {
    display: flex;
    margin: .5em 0;
    border: 1px solid var(--border-color)!important;
    font-size: 1.125em;
    flex-direction: row;
    padding: 1em!important;

    &:empty {
        display: none;
    }

    @include mobile() {
        font-size: 1em;
        flex-direction: column;
        position: relative;
    }
    iframe {
        max-width: 100%;
    }
    &__top {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        white-space: nowrap;
        width: 12em;

        @include mobile() {
            z-index: 10;
            width: 100%;
            padding: 0;
            flex-direction: row;
            position: relative;
            border-bottom: 1px solid var(--border-color);
        }
    }

    &__content {
        line-height: 1.4;
        position: relative;
        flex: 2;
        @include mobile {
            padding: .5em 0 !important;
            border: none !important;
        }

        .bbQuoteBlock {
            margin-bottom: var(--col-margin);
        }
        .bbQuoteBlock + br {
            display: none;
        }

        .bbQuoteName {
            color: #333;
            padding-left: 5px;
            font-size: .875em !important;
            font-weight: bold;
            padding-top: 7px;
            padding-bottom: 7px;
            margin: 0 auto;
            border-width: 1px 1px 0px 4px;
            border-style: dotted dotted;
            border-color: rgb(0, 0, 0) rgb(0, 0, 0);
            border-image: initial;
            border-bottom: 0px;
            border-left: 4px solid rgb(131, 148, 178);
            background: #e4eaf2;
        }

        .quoteMessage {
            color: rgb(70, 85, 132);
            font-size: .875em !important;
            background: #fff;
            padding: 3px;
            border-width: 0 1px 1px 4px !important;
            border-style: dotted dotted !important;
            border-color: rgb(0, 0, 0) rgb(0, 0, 0) !important;
            border-image: initial !important;
            border-left: 4px solid rgb(131, 148, 178) !important;
            border-top: 0 !important;
        }

        img {
            max-width: 100%;
        }

        .uSpoilerButton {
            background: #eee;
            color: #686868;
            border-width: 1px;
            border-style: solid;
            border-color: #dddddd #c6c6c6 #c6c6c6 #c6c6c6;
            border-radius: 5px;
            -moz-border-radius: 5px;
            cursor: pointer;
            padding: .25em .5em;
            font: inherit;
            margin: .25em 0;

            &:hover {
                background: #ddd;
            }
        }
    }

    &__edited-by {
        font-size: 0.75em;
        bottom: 1.5em;
        text-align: right;
        margin: 1em 0 0;
        color: #aaa;

        &__username {
            font-weight: bold;
        }
    }

    &__user-info {
        color: var(--text-lightest);
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;
        overflow: hidden;
        @include mobile {
            overflow: visible !important;
            align-items: center;
            flex-direction: row;
            padding: 0;
        }
    }

    &__avatar {
        margin: 1em 0;
        width: 12em;
        @include mobile {
            display: none;
        }
    }

    &__user-texts {
        text-align: center;
        display: flex;
        gap: .25em;
        flex-direction: column;
        align-items: center;
        @include mobile {
            display: none;
            &--modal {
                height: auto;
                display: flex;
                flex-direction: row;
                font-size: 1.125em;

                &__avatar {
                    max-height: 5em;
                }


                &__left {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    flex: 1;
                }

                &__right {
                    display: flex;
                    flex-direction: column;
                    flex: 1;
                    text-align: center;
                    align-items: center;
                }


                &__username {
                    margin: .5em 0 0;
                }
            }
        }

        a {
            font-weight: bold;
            text-decoration: none;

            &:hover {
                color: var(--primary);
            }
        }
    }

    &__username {
        color: var(--text-lighter);
        font-weight: 600;
        text-decoration: none;
        width: calc(100% - 1.25em);
        text-align: center;
        border: none;
        transition: color .2s;
        margin-bottom: .5em;
        &:hover {
            color: var(--primary);
        }

        @include mobile {
            font-size: .875em;
            background: none;
            border: none;
            display: none;
        }
    }

    &__group-icon {
        @include mobile {
            width: 7em;
        }
    }

    &__group-icon-container {
        svg {
            height: .675em;
        }
    }

    &__date {
        margin: 0;
        color: var(--text-lighter);
        position: relative;
        z-index: 1;
        border-bottom: 1px solid var(--border-color);
        font-weight: 500;
        font-size: .875em;
        background: none;
        padding: 0 0 1em;
        @include mobile {
            display: none;
        }
    }

    &__right {
        border-left: 1px solid var(--border-color);
        flex: 3.5;
        display: flex;
        flex-direction: column;
        padding-left: 1em;
        gap: var(--col-margin);
        margin-left: 1em;

        @include mobile {
            padding-left: 0;
            margin-left: 0;
            border: none;
            flex: unset;
            width: 100%;
        }
    }

    &__reputation {
        padding: .5em 0 0;
        color: var(--text-lighter);

        &__change {
            font-weight: bold;
            cursor: pointer;
            text-decoration: underline;
        }

        &__number {
            cursor: pointer;
            text-decoration: underline;
        }
    }

    &__warnings {
        color: #555;

        &__number {
            cursor: pointer;
            text-decoration: underline;
        }
    }

    &__awards {
        color: #555;

        &__number {
            cursor: pointer;
            text-decoration: underline;
        }
    }

    &__signature {
        font-size: .875em;
        padding-top: 1em;
        border-top: 1px solid var(--border-color);
        @include mobile {
            img {
                max-height: 3em;
            }
        }
    }

    &__actions {
        padding: 1em 0 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: .875em;
        border: none;
        border-top: 1px solid var(--border-color);
        @include mobile {
            display: none;
        }
    }

    &__user-comment {
        font-size: .875em;
        white-space: normal;
    }

    &__mobile-left {
        display: none;
        @include mobile {
            min-height: 3em;
            display: flex;
            align-items: center;
            gap: .5em;
            &__texts {

            }
        }
    }

    @include mobile() {
        &__mobile-left &__avatar {
            display: block;
            width: 2.5em;
            margin: 0;
        }
        &__mobile-left &__username {
            display: block;
            width: auto;
            padding: 0;
            text-align: left;
            margin: 0;
        }
        &__mobile-left &__date {
            display: block;
            font-size: .875em;
            background: none;
            border: none;
            padding: 0;
        }
    }

    &__mobile-menu {
        display: none;
        @include mobile {
            display: block;
            margin-left: auto;
            padding: 0 .5em;
            .button--dropdown {
                padding: .5em 1em;

                &__text {
                    display: none;
                }

                &__icon {
                    margin: 0;
                }
            }
        }
    }

}

.group-users-list {
    display: inline-block;
    position: relative;
    top: -1em;
    margin: 0 1em;
    @include mobile() {
        display: block;
        top: 0;
        margin: 0 0 .5em;
    }
}


.forum-topics-list {
    display: flex;
    flex-direction: column;
    gap: 1.75em;
    &__item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-decoration: none;
        flex: 1;
        @include hover;

        &__title {
            font-size: 1.25em;
            font-weight: 600;
            margin-bottom: .5em;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            @include mobile() {
                font-size: 1em;
            }
        }

        &__bottom {
            font-size: .9375em;
            @include mobile() {
                font-size: .875em;
            }
        }
    }
}
