.graphics-package {
    border-bottom: 1px solid #ccc;
    margin: 0 0 1em;
    position: relative;

    &__date {
        font-size: 2em;
        font-weight: bold;
    }

    &__author {
        font-style: italic;
        margin: 0 0 1em;
    }

    &__options {
        position: absolute;
        top: .5em;
        right: .5em;
    }
}
