.icon-blocks {
    font-size: 1.125em;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    gap: var(--col-margin);
    @include mobile() {
        font-size: 1em;
    }
}

.icon-block {
    color: unset;
    text-decoration: none;
    white-space: nowrap;
    display: inline-flex;
    align-items: center;
    gap: .5em;
    &--complaint {
        color: #f00;
    }
    &__text {
        line-height: 1;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &__picture {
        width: 2.5em;
        height: 2.5em;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }
}
a.icon-block {
    cursor: pointer;
}
a.icon-block:hover {
    @include hover;
}
