.icon-blocks {
    font-size: 1.125em;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    gap: calc(var(--col-margin) * 1.25);
    @include mobile() {
        font-size: 1em;
    }
}

.icon-block {
    color: unset;
    text-decoration: none;
    white-space: nowrap;
    display: inline-flex;
    align-items: center;
    gap: .5em;
    &__text {
        line-height: 1;
    }

    &__picture {
        width: 2.5em;
        height: 2.5em;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }
}
a.icon-block:hover {
    @include hover;
}
