.inner-page {
  &__header {
    width: calc(100% - 2em);
    background: #e2e2e2;
    color: #111;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5em 1em;
    position: relative;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.5));
    border-bottom: 1px solid #555;
    @include mobile() {
      flex-direction: column;
    }
    > * {
      z-index: 1;
    }
    &:before {
      opacity: .5;
      content: "";
      display: block;
      background: repeating-linear-gradient(90deg, #3f3b35 0px, #3f3b35 20px, #23211e 21px, #201f1c 40px);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    &__right {
      @include mobile {
        display: flex;
        font-size: .875em;
        margin: .5em 0 0;
      }
    }
    &__title {
      color: #c4bd97;
      z-index: 1;
      font-size: 1.5em;
      font-weight: 400;
      a {
        font-weight: 700;
        color: #c4bd97;
      }
    }
  }

  &__content {
    width: calc(100% - 2em);
    color: #333;
    background: #f8f7f4;
    padding: 1em;
    background-image: url("/pictures/noise.png");
    box-shadow: 0 0 1.75em inset #c0c0c0;
    &--no-padding {
      width: 100%;
      padding: 0;
    }
  }
  &__text {
    p {
      margin: 0 0 .5em;
      line-height: 1.5;
      word-spacing: normal;
    }
    h2 {
      margin: 0;
      font-weight: 500;
    }
    h3 {
      margin: 0;
      font-weight: 500;
    }

    p:empty {
      display: none;
    }

    .inner-page__text p {
      line-height: 1.75;
    }

    br + br {
      display: none;
    }

    br + br + br {
      display: none;
    }
    .sig {
      width: 100%;
      font-style: italic;
      color: #777;
    }

    .sig img {
      width: 100%!important;
      height: auto!important;
    }

    .sigv {
      color: #777;
      font-style: italic;
      font-size: .875em;
    }
    .sigv iframe {
      display: block;
      margin: 0 0 .25em;
    }
    li br {
      display: none;
    }
  }
  &__text-block {
    /* margin: -1em; */
    padding: 0 1em;
    background: #eee;
    border: 2px dotted #ccc;
    &--static {
      border: 0px;
      padding: 0;
      font-size: 1.125em;
      font-weight: 400;
    }
  }
  &__cover-block {
    padding-top: 50%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    margin: 0 0 .5em;
    &__panel {
      position: absolute;
      top: .5em;
      right: .5em;
      overflow: hidden;
    }
    @include mobile() {
      padding-top: 80%;
    }
    &__title {
      font-size: 1.75em;
    }
    &__texts {
      position: absolute;
      bottom: 0;
      left: 0;
      padding: 2em 1em 1em;
      background: linear-gradient(#0000, #000);
      width: calc(100% - 2em);
    }


   &__info {
     margin: .5em 0 0;

     & > * {
       margin: 0 .5em 0 0;
       color: #fff;
     }

     i {
       margin: 0 .25em 0 0;
     }
   }
  }
  &__footer {
    width: calc(100% - 2em);
    position: relative;
    color: #111;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0.5em 1em;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.5));
    border-bottom: 1px solid #555;
    border-top: 1px solid #474747;
    box-shadow: 0 5px 16px inset rgba(0, 0, 0, 0.75);

    &:before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(#110b06, #322317);
      z-index: -1;
    }

    .button {
      position: relative;
      z-index: 1;
      margin: 0 .5em 0 0;
    }
  }

  &__icon-blocks-container {
    padding: 0 1em 0 0;
    font-size: 1.125em;
  }

 &__icon-block {
   text-decoration: none;
   &:hover {
     border-bottom: 1px solid #777;
   }
   &__text {
     font-weight: bold;
     margin: 0 0 0 .25em;
   }
 }
}
