.main-page {
    &__intro {
        border-radius: 1em;
        position: relative;
        overflow: hidden;

        height: unset;
        padding-top: 41.66%;
        @include mobile() {
            background-size: 150%;
            padding-top: 70%;
            background-position: 55% 50%;
        }
        &__background {
            position: absolute;
            z-index: 1;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-image: url(/resources/images/promo/background-resized.webp);
            background-size: cover;
            background-position: center;
        }
        &__video {
            position: absolute;
            z-index: 0;
            width: 34em;
            height: 21.75em;
            top: 5.25em;
            left: 31em;
            @media screen and (max-width: 1420px) {
                width: 26vw;
                height: 23vw;
                top: 4.25vw;
                left: 33.5vw;
            }
            @include mobile() {
                width: calc(52vw - 2em);
                height: 41.5vw;
                top: 5.5vw;
                left: 22.25vw;
            }
        }

        &__text {
            position: absolute;
            bottom: 0;
            font-size: 3em;
            color: #fff;
            background: linear-gradient(0deg, black 50%, transparent);
            padding: 1em 1em .5em;
            left: 0;
            width: 100%;
            text-align: center;
            box-sizing: border-box;
            z-index: 10;
            @include mobile() {
                font-size: 1.5em;
                padding: 1em .5em;
            }
        }
    }
    &__site-description {
        font-size: 1.3125em;
        line-height: 1.6;
        font-family: var(--font-texts);
        @include mobile() {
            font-size: 1em;
        }
        a {
            color: var(--primary);
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}
