.material-categories {
    display: flex;
    flex-direction: column;
    gap: var(--col-margin);
    &__section {
        margin: 0;
        padding: 0;
        list-style-type: none;
        font-size: 1.25em;
        line-height: 1.75;
        border-bottom: 1px solid var(--border-color);
        @include light() {
            border-bottom: none;
        }
        &:last-of-type {
            border: none;
            padding: 0;
            margin: 0;
        }
        a {
            display: block;
            color: unset;
            text-decoration: none;
        }
    }

    &__section-heading {
        font-size: 1.125em;
        font-weight: 600;
        @include light() {
            border-bottom: 2px solid var(--primary);
        }
    }
    &__item {
        padding: .25em 0;
        &__link {
            @include hover();
        }
    }
}
