.menu {
    position: absolute;
    background: var(--box-color);
    z-index: 100000;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius-small);
    box-shadow: var(--block-box-shadow);
    font-size: 1.125em;
    min-width: 4em;
    min-height: 2.5em;
    &__item {
        font: inherit;
        border: none;
        text-decoration: none;
        color: var(--links-color)!important;
        padding: .5em 1em;
        white-space: nowrap;
        cursor: pointer;
        transition: color .2s;
        &:hover {
            background: var(--box-color-hover);
        }
    }
}
