
.modal {
  &__inner {
    font-size: 1rem;
    position: fixed;
    top: calc(50vh - 16em);
    height: 32em;
    left: calc(50vw - 30em);
    width: 60em;
    background: #fff;
    z-index: 10;
    box-shadow: 0 0.5em 3em rgba(0, 0, 0, 0.75);
    display: flex;
    flex-direction: column;
  }

  &__header {
    background: linear-gradient(#403c36 0%, #696259 48%, #262320 52%, #282521 100%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
    color: #c4bd97;

    &__close {
      color: #fff;
      font-size: 1.25em;
      font-weight: bold;
      cursor: pointer;
    }

  }

  &__content {
    flex: 1;
    background: #eee;
    color: #000;
    overflow: hidden;
  }
}

.modal-window {
  font-family: Tahoma, Geneva, sans-serif;
  position: fixed!important;
  z-index: 10000!important;
  &__form {
    padding: 0 1em 1em;
  }
  &--top {
    z-index: 10001!important;
  }
  &__preloader-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px!important;
  }
  &__inner {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-width: 300px;
    min-height: 120px;
    box-shadow: 5px 5px 16px rgba(0, 0, 0, 0.25);
    position: relative;
    width: 100%;
    height: 100%;
  }
  &__text {
    padding: 0 0 1em;
    font-size: 1.125em;
  }
  &__small-text {
    font-size: .875em;
    line-height: 1.75;
    margin: 1em 0 1.25em;
    color: #555;
  }

  .button {
    font-size: .875em;
  }

  &__top {
    position: relative;
    background: linear-gradient(45deg, #eaeaea, #e0e0e0);
    vertical-align: 3px;
    color: #4d4f53;
    line-height: 20px;
    font-size: 12px;
    padding: 8px 14px;
    cursor: pointer;
  }

  &__content {
    overflow: auto;
    flex: 1;
    padding: 3px;
    border-left: 1px solid #eaebec;
    border-top: 1px solid #d3d3d3;
    border-bottom: 1px solid #c2c5ca;
    border-right: 1px solid #c2c5ca;
    background: linear-gradient(45deg, #eaeaea, #e0e0e0);
    color: #000;
    min-height: 100px;
    max-height: 600px;
    &__inner {
      padding: 12px;
      &--no-padding {
        padding: 0;
      }
    }
    & > div {
      height: calc(100% - 24px);
    }
  }
 &__close {
   position: absolute;
   top: 10px;
   right: 12px;
   width: 15px;
   height: 15px;
   color: #555;
   font-weight: bold;
   background: linear-gradient(#eee, #ccc, #eee);
   border: 1px solid #aaa;
   border-radius: 3px;
   line-height: 12px;
   text-align: center;

   &:hover {
     filter: brightness(1.05);
   }
 }
  .input-container__label {
    min-width: 0;
    margin: .35em 0 0 0;
    white-space: nowrap;
    padding: 0 1em 0 0;
    font-size: 1em;
    font-weight: normal;
  }

  .input-container--vertical .input-container__label {
    margin: 0 0 .5em;
  }
  .input-container--checkbox__element {
    margin: 0;
  }
  .select2 {
    width: auto!important;
    flex: 1;
  }
  .input-container--checkbox .input-container__label {
    margin: 0 1em 0 .5em!important;
  }
}


