.modal-window {
    box-shadow: var(--block-box-shadow);
    position: fixed !important;
    z-index: 10000 !important;
    max-width: calc(100vw - 1em);
    pointer-events: all;

    @include mobile {
        font-size: .875em;
        max-height: calc(100vh - 4em);
    }
    &__form {

    }

    &--top {
        z-index: 10001 !important;
    }

    &__preloader-container {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 120px !important;
    }

    &__inner {
        overflow: hidden;
        display: flex;
        flex-direction: column;
        min-width: 300px;
        /*min-height: 120px;*/
        position: relative;
        width: 100%;
        height: 100%;
        box-shadow: var(--block-box-shadow);
        transition: all .2s;
        background: var(--modal-background-color);
        border-radius: var(--border-radius-standard);

        @starting-style {
            transform: scale(.9);
            opacity: 0;
        }

        &:before {
            z-index: 0;
            background-image: url("/resources/images/fabric.png");
            background-size: 200px;
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            pointer-events: none;
            opacity: .05;
            filter: contrast(1.4) brightness(7);
        }
    }

    &__text {
        font-size: 1.125em;
    }

    &__small-text {
        font-size: .875em;
        line-height: 1.75;
        margin-bottom: 1em;
    }


    &__nothing-found {
    }

    &__top {
        position: relative;
        /*cursor: pointer;*/
        color: var(--modal-header-color);
        background: var(--modal-header-background-color);
        font-size: 1.125em;
        font-weight: 600;
        text-shadow: 0 1px 0 rgba(255, 255, 255, .4);
        line-height: 1;
        display: flex;
        gap: 1em;
        align-items: center;
        justify-content: space-between;
    }

    &__content {
        overflow: auto;
        overflow-x: hidden;
        flex: 1;
        border: 1px solid var(--border-color);

        color: var(--modal-color);
        /*min-height: 100px;
        max-height: 600px;*/
        max-height: 75vh;
        padding: 1em;
        &__inner {
            padding: .875em;
            &--no-padding {
                padding: 0;
            }
        }

        & > div {
            height: calc(100% - 24px);
        }
    }

    &__title {
        font-size: 1.25em;
        font-weight: 600;
        padding: .75em;
        @include light() {
            padding: 1em;
            font-size: 1em;
        }

    }

    &__close {
        cursor: pointer;
        width: 2.625em;
        height: 2.625em;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        text-align: center;
        border: none;
        border-radius: 0;
        line-height: 1;
        padding: .2em;
        background: rgba(255, 255, 255, .025);
        @include light() {
            background: rgba(0, 0, 0, .025);
        }
        &:hover {
            color: var(--primary);
        }
    }

    .select2 {
        width: auto !important;
        flex: 1;
    }


    &__list-item {
        border-bottom: 1px solid var(--border-color);
        position: relative;
    }

    &__buttons {
        position: absolute;
        top: .5em;
        right: .5em;
    }

    &__button {
        position: relative;
        cursor: pointer;
        margin: 0 0 0 .5em;
        color: var(--text-lighter);
        &:hover {
            color: var(--text-lightest);
        }

        & > .tooltip {
            top: -.5em;
            right: 2em;
        }
    }
    &__pager {
        .pagination {
            padding: 0;
            box-shadow: none;
        }
    }
}

.modals-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10001;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
}


.modals-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10000;
    background: rgba(0,0,0,.5);
}
