.modal-window {
    box-shadow: var(--block-box-shadow);
    position: fixed !important;
    z-index: 10000 !important;
    @include mobile {
        width: 100%!important;
        left: 0!important;
        top: 4em!important;
        font-size: .875em;
        max-height: calc(100vh - 4em);
    }
    &__form {
        padding: 1em;
    }

    &--top {
        z-index: 10001 !important;
    }

    &__preloader-container {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 120px !important;
    }

    &__inner {
        overflow: hidden;
        display: flex;
        flex-direction: column;
        min-width: 300px;
        /*min-height: 120px;*/
        position: relative;
        width: 100%;
        height: 100%;
        box-shadow: var(--block-box-shadow);

        @include light() {
            border-radius: .5em;
        }
    }

    &__text {
        padding: 0 0 1em;
        font-size: 1.125em;
    }

    &__small-text {
        font-size: .875em;
        line-height: 1.75;
        margin-bottom: 1em;
    }


    &__nothing-found {
        padding: .875em;
    }

    &__top {
        position: relative;
        cursor: pointer;
        color: var(--modal-header-color);
        background: var(--modal-header-background-color);
        font-size: 1.25em;
        line-height: 1;
        display: flex;
        gap: 1em;
        align-items: center;
        justify-content: space-between;
    }

    &__content {
        overflow: auto;
        overflow-x: hidden;
        flex: 1;
        border: 1px solid var(--border-color);
        background: var(--modal-background-color);
        color: var(--modal-color);
        /*min-height: 100px;
        max-height: 600px;*/
        max-height: 75vh;
        padding: .25em;
        font-size: 1.125em;
        &__inner {
            padding: .875em;

            &--no-padding {
                padding: 0;
            }
        }

        & > div {
            height: calc(100% - 24px);
        }
    }

    &__title {
        padding: 1em;
    }

    &__close {
        width: 2.625em;
        height: 2.625em;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        text-align: center;
        border: none;
        border-radius: 0;
        line-height: 1;
        padding: .2em;
        background: var(--primary);
        color: var(--button-active-text);
        &:hover {
            background: var(--primary-highlight);
        }
    }

    .select2 {
        width: auto !important;
        flex: 1;
    }


    &__list-item {
        border-bottom: 1px solid var(--border-color);
        padding: .5em;
        position: relative;
    }

    &__buttons {
        position: absolute;
        top: .5em;
        right: .5em;
    }

    &__button {
        position: relative;
        cursor: pointer;
        margin: 0 0 0 .5em;
        color: var(--text-lighter);
        &:hover {
            color: var(--text-lightest);
        }

        & > .tooltip {
            top: -.5em;
            right: 2em;
        }
    }
    &__pager {
        border-top: 1px solid var(--border-color);
        padding: 1em 0 0;
        margin: 0;
        font-size: .875em;
    }

}


