.pagination {
  margin: 0;
  display: flex;
  list-style-type: none;
  padding: .5em 0 0;
}

.pager-container {
  @include mobile() {
    max-width: calc(100vw - 2em);
    overflow: auto;
  }
}

.page-item {
  display: inline-block;
  border: none;
  font: inherit;
  font-size: 1.125em;
  background: linear-gradient(180deg, #513b27, #725336 49%, #291e13 50%, #2c1f14);
  border-radius: 4px;
  color: #c4bd97;
  cursor: pointer;
  font-weight: bold;
  box-shadow: inset 0px 1px 10px #2b1e13;
  margin: 0 .25em 0 0;
  &:hover {
    background: linear-gradient(180deg, #705237, #8f6945 49%, #291e13 50%, #2c1f14);
  }
  a {
    text-decoration: none;
  }
  &.active {
    color: #000;
    background: linear-gradient(180deg, #9f744d, #c08c5c 49%, #7c5b3a 50%, #8c6442);
    &:hover {
      background: linear-gradient(180deg, #d89e69, #dda26d 49%, #7c5b3a 50%, #8c6442);
    }
  }
  &.disabled {
    color: #8d8d8d;
    background: linear-gradient(180deg, #584d44, #736354 49%, #35322e 50%, #413b37);
    cursor: default;
    &:hover {
      background: linear-gradient(180deg, #584d44, #736354 49%, #35322e 50%, #413b37);
    }
  }

  & > * {
    display: block;
    padding: 0.5em 1.125em;
    color: inherit;
  }
}

.pager-container--light {
  .page-item {
    text-decoration: none;
    box-shadow: none;
    background: linear-gradient(#fafafa, #fafafa 49%, #eee 50%, #eee);
    font-size: 1em;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    color: #555;
    border-width: 1px;
    border-style: solid;
    border-color: #dddddd #c6c6c6 #c6c6c6 #c6c6c6;
    a {
      text-decoration: none;
    }
    &:hover {
      color: #777;
      background: linear-gradient(#eee, #eee 49%, #ddd 50%, #ddd);
    }

    &.active {
      background: linear-gradient(#e6e6e6, #eaeaea 49%, #d5d5d5 50%, #eee);
    }

    &.disabled {
      background: linear-gradient(#b7b7b7, #c0c0c0 49%, #b7b7b7 50%, #b3b3b3);
    }
  }
}

.modal-window__pager {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 0 0 .5em;
    margin: 0 0 1em;
}
