.private-messages {
  background: #f8f7f4;
  color: #333;
  &__inner {
    padding: 1.25em;
  }
  &__list {
    margin: 1em 0 0;
  }
  &__heading {
    display: flex;
    align-items: center;
    margin: 0 0 -1.25em;
    padding: 1.25em;
    background: #e2e2e2;
    &__text {
      margin: 0 1em 0 0;
      font-weight: 500;
      font-size: 1.25em;
    }
    &__right {
      flex: 1;
      text-align: right;

      .button {
        margin: 0 0 0 1em;
      }
    }
  }
}


.private-message {
  background: #dfdfdf;
  font-size: 1.125em;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ccc;
  &:nth-of-type(2n) {
    background: #e8e8e8;
  }

  &__title {
    color: #333;
    font-size: 1.125em;
    text-decoration: none;
    font-weight: 500;
    margin: .75em;
  }

  &__time {
    display: inline-block;
    margin-left: auto;
    font-weight: 500;
  }
  &__right {
    display: flex;
    flex: 1;
    align-items: center;
    margin: 0 .5em 0 0;
  }
  &__button {
    border: none;
    padding: .5em 1em;
    color: #555;
    font-size: 1em;
    margin: 0 0 0 .5em;
    cursor: pointer;
    background: no-repeat;
    &:hover {
      background: #d3d3d3;
    }
  }
}

.private-message-page {
  padding: 1.25em 0 0;
  &__text {
    word-break: break-all;
    padding: 1.25em;
  }
  &__form {
    margin: 0;
    background: #e8e6e6;
    &__title {
      padding: 1em;
      color: #c4bd97;
      background: #2b2b2b;
      font-weight: 500;
      font-size: 1.125em;
    }
    &__inner {
      padding:  0 1.25em 1.25em;
    }
  }
}
