.channel-page__description {
    flex: 3;
    padding: 0 0 0 1em;
}

.programs-list {
    /* height: 50em; */
    /* flex-direction: column; */
    justify-content: flex-start;
}


.program {
    margin: .25em;
    color: #fff;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    width: calc(100% / 6 - .5em);
    border-bottom: none;
    padding: 0;
    align-items: center;
    background: none;
    border-radius: 0;
    &__name {
        background: none;
        color: #333;
        display: block;
        text-align: center;
        font-weight: 500;
        flex: 1;
    }
    &__cover {
        display: block;
        width: 100%;
        height: 7em;
        background-color: #ccc;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }
    &:hover &__cover {
        box-shadow: 0 0 1em #ad7447;
    }
}

.programs-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 1em;
}

