.questionnaire {
    margin: 0 auto;
    text-align: center;
    background: var(--box-color-dark);
    color: var(--box-text-color-dark);
    &__container {
        position: relative;
    }

    &__variants {
        position: unset;
        display: inline-block;
    }

    &__bottom {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 1em 0 0;
        background: rgba(255, 255, 255, 0.1);
        padding: 1em;
    }

    &__total {
        margin: 0 1em 0 0;
    }

    &__title {
        padding: .5em 0 0;
        font-size: 1.5em;
        font-weight: bold;
        margin: 0 0 .5em;
    }

    &__result {
        display: flex;
        align-items: center;
        padding: .25em 1em;

        &:nth-of-type(2n) {
            background: rgba(255, 255, 255, .025);
        }

        &__title {
            min-width: 10em;
            font-size: 1.125em;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        &__count {
            font-size: 1.25em;
            font-weight: 500;
            margin: 0 0 0 .5em;
            text-align: center;
        }

        &__bar {
            margin: 0 1em;
            height: 1em;
            background: var(--primary);
        }
    }

    &__results {

        display: block;
        text-align: left;
    }

    &__vote {
        &__button {
            margin: 0 0 1em;
        }
    }
}
