.radio-recording {
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
    gap: var(--col-margin);
    transition: all .25s;
    width: 100%;
    &--pending {
        opacity: .5;
    }
    @include hover;
    @include mobile() {
        font-size: .75em;
    }

    &__button {
        text-decoration: none;
        border-radius: var(--border-radius-small);
        color: #fff;
        width: 4em;
        height: 4em;
        display: flex;
        align-items: center;
        justify-content: center;
        background: var(--primary);
    }

    &__title {
        text-decoration: none;
        font-size: 1.25em;
        font-weight: 600;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        overflow: hidden;
        color: inherit;
    }

    &__texts {
        flex: 1;
    }

    &__info {
        margin: .5em 0 0;
        i {
            margin: 0 .5em 0 0;
        }

        span {
            margin: 0 .5em 0 0;
        }
    }
    &__timecodes {
        &__line {
            margin: .5em 0;

            &__text {
                margin: 0 .5em;
            }
        }
    }
}

.record-page__related {
    .radio-recording {
        border-bottom: 1px solid var(--border-color);
        margin: 0;
        padding: 1em;

        &:last-of-type {
            border-bottom: 0px;
        }
    }
}
