.user-info {
    font-size: 1.125em;
    gap: 2em;
    @include mobile(){
        font-size: 1em;

    }
    &__col {
        flex: unset;
        display: flex;
        flex-direction: column;
        gap: var(--col-margin);
        max-width: 35%;
        @include mobile() {
            max-width: unset;
        }
    }

    &__buttons {
        display: flex;
        gap: .25em;
    }

    &__item {
        display: flex;
        align-items: center;
        gap: .25em;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 100%;
        &--with-icon {
            gap: .5em;
        }
        &__icon {
            box-shadow: var(--element-box-shadow);
            background: var(--box-color-dark);
            border-radius: var(--border-radius-small);
            font-size: 1.25em;
            color: var(--box-text-color-dark);
            min-width: 1.75em;
            width: 1.75em;
            height: 1.75em;
            display: flex;
            align-items: center;
            justify-content: center;

            i {
                font-size: .875em;
            }
        }
    }

    &__ban {
        background: #D64541;
        color: #fff;
        padding: .75em;
        font-weight: bold;
        font-size: 1.125em;
        border-radius: var(--border-radius-small);
        margin: .5em 0;
    }

    &__actions {
        margin-top: 1em;
    }

    &__group-icon-container {
        width: 16em;
        @include mobile() {
            width: 50%;
        }
    }
}
.user-page {
    &__top {
        display: flex;
        gap: var(--col-margin);
        @include mobile {
            flex-direction: column-reverse;
        }
    }

    &__left {
        min-width: 14em;
        display: flex;
        flex-direction: column;
    }

    &__signature {
        padding: 1.75em;
        background: var(--bg-darker);
        border-top: 1px solid var(--border-color);
        font-size: .875em;
        @include mobile {
            padding: 1em;
        }
    }

    &__info-container {
        flex: 1;
        display: flex;
        flex-direction: column;

        &__inner {
            flex: 1;
        }

        @include mobile {
            width: 100% !important;
        }

        .box {
            height: 100%;
        }
    }

    &__info-blocks {
        @include mobile() {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: .875em;
        }
    }

    &__info-block {
        text-align: center;
        padding: 1em;
        text-decoration: none;
        color: inherit;
        border-top: 1px solid var(--border-color);
        border-bottom: 1px solid var(--border-color-second);
        @include mobile() {
            border-top: none;
            border-bottom: none;
            border-left: 1px solid var(--border-color);
            border-right: 1px solid var(--border-color-second);
        }
        &:first-of-type {
            border-top: none;
            @include mobile() {
                border-left: none;
            }
        }
        &:last-of-type {
            border-bottom: none;
            @include mobile() {
                border-right: none;
            }
        }
        &__title {
            font-size: 1.25em;
        }

        &__value {
            color: var(--primary);
            cursor: pointer;
            font-size: 2em;
            font-weight: bold;
            transition: color .1s;
            text-decoration: none;
            &:hover {
                color: var(--primary-highlight);
            }
        }

        &__change {
            color: var(--primary);
            cursor: pointer;
            font-size: 1.75em;
            font-weight: bold;
            transition: color .2s;
            text-decoration: none;
            &:hover {
                color: var(--primary-highlight);
            }
        }
    }

    &__avatar {
        width: 14em;
        margin: 0 0 1em;
        box-shadow: var(--block-box-shadow);
        @include mobile {
            border-radius: var(--border-radius-standard);
            height: auto !important;
            width: 100%;
        }
    }

    &__videos {
        .video-item {
            display: block;
            width: calc(20% - .5em);
            padding: .25em;
        }
    }
}

.reputation-history {
    height: 100%;
    overflow: auto;
    display: flex;
    flex-direction: column;
    &__item {
        display: flex;
        flex-direction: column;
        gap: .25em;
        padding: .5em 0;
        &__reply-form {
            margin-top: var(--col-margin);
        }
        &__top {
           font-size: 1.25em;
        }
        &__comment {
            font-size: 1.125em;
        }

        &__user {
            color: var(--text-color);
            font-weight: bold;
            font-size: .875em;
        }

        &__weight {
            font-size: 12px;
            border-radius: var(--border-radius-small);
            padding: 1px 2px 2px 5px;
            margin: 0 5px 0 0;

            &--positive {
                background: #218d20;
                color: #fff;
            }

            &--negative {
                background: #c34b4c;
                color: #fff;
            }

            &--neutral {
                background: var(--bg-darker);
            }
        }

        &__source {
            color: var(--text-lighter);
            font-size: 12px;
        }

        &__date {
            font-size: .875em;
            color: var(--text-lightest);
        }

        &__reply-comment {
            font-size: 14px;
            margin: 4px 0 0;
            font-style: italic;
        }
    }
}


.warnings-history {
    height: 100%;
    overflow: auto;

    &__item {
        border-bottom: 1px solid var(--border-color);
        padding: .5em;

        &__user {
            color: var(--text-color);
            font-weight: bold;
            font-size: .875em;
        }

        &__weight {
            font-size: .75em;
            padding: 1px 2px 2px 5px;
            margin: 0 5px 0 0;

            &--positive {
                background: #218d20;
                color: #fff;
            }

            &--negative {
                background: #c34b4c;
                color: #fff;
            }

            &--neutral {
                background: var(--bg-darker);
            }
        }

        &__source {
            color: #555;
            font-size: 12px;
        }

        &__date {
            font-size: 12px;
            color: #777;
        }

        &__reply-comment {
            font-size: 14px;
            margin: 4px 0 0;
            font-style: italic;
        }
    }
}

.warnings-form {
    padding: .5em;

    &__count {
        max-width: 4em;

        &__input {
            max-width: 4em;
        }
    }
}

.change-reputation {
  padding: 1em;
}

.users-list {
    padding: 1.25em;
    @include light() {
        padding: 0;
    }
    &__link {
        color: var(--text-lighter);
    }

    &__form {
        background: var(--overlay-darken);
        padding: var(--overlay-padding);
        margin: var(--overlay-margin);
        margin-bottom: var(--col-margin);

        &__inner {
            display: flex;
            flex-wrap: wrap;
            gap: .25em;
        }
        &__found {
            font-size: 1.125em;
            margin: 1em 0 0;
        }
    }

    &__heading {
        font-size: 1.75em;
        font-weight: bold;
        background: var(--box-color);
        padding: .5em;
        border: 1px solid var(--border-color);
        @include light() {
            border: none;
        }
    }

    &__table {
        background: var(--box-color);
        border-spacing: 0;
        padding: .25em;
        width: 100%;
        border: 1px solid var(--border-color);
        border-radius: 0;
        margin-bottom: 1em;
        @include light() {
            padding: 0;
            border: none;
        }

        tbody {
            @include mobile() {
                display: flex;
                flex-direction: column;
                gap: 2em;
            }
        }

        td {
            padding: .25em 1em;
            border-bottom: 1px solid var(--border-color);
            text-align: center;
            @include mobile() {
                border: none;
            }
        }

        tr:last-of-type td {
            border: none;
        }

        tr {
            @include mobile() {
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        }

        thead {
            background: var(--bg-darker);
            @include mobile() {
                display: none;
            }
            td {
                font-size: 1.125em;
                padding: .75em 0;
                font-weight: bold;
                @include light() {
                    padding: .5em 1.25em;
                    font-size: 1em;
                }
            }
        }
        &__label {
            display: none;
            @include mobile() {
                display: inline-block;
                font-weight: 600;
            }
        }
    }

    &__pager {
        padding: 1em 1em 0;
        font-size: .875em;
        background: var(--box-color);
        border: 1px solid var(--border-color);
        @include light() {
            border: none;
            padding: 1em 0 0;
        }
    }

    &__avatar {
        height: 3.5em;
    }
    &__group-icon-container {
        height: 2em;
        display: flex;
        .group-icon svg {
            height: 1em;
            padding: .5em 0;
        }
    }
}

.users-top {
    display: flex;
    @include mobile() {
         display: block;
    }
    &__links {
        display: flex;
        flex-direction: column;
        flex: 1;
        margin-right: 1em;
        padding-right: 1em;
        border-right: 1px solid var(--border-color);
        position: sticky;
        align-self: flex-start;
        top: 5em;
        width: 14em;
        min-width: 14em;
        max-width: 14em;
        @include mobile() {
            border-right: none;
            width: 100%;
            min-width: 100%;
            max-width: 100%;
            position: unset;
            margin: 0 0 1em;
        }
    }

    &__values {
        font-size: 1.25em;
        @include mobile() {
            font-size: 1em;
        }
    }

    &__link {
        font-size: 1.25em;
        text-decoration: none;
        padding: .5em;
        @include hover;
        @include mobile() {
            font-size: 1em;
        }
        &--active {
            background: var(--bg-darker-2);
        }

    }

    &__row {
        margin: 0 0 .5em;

        &--awards {
            border-bottom: 1px solid var(--border-color);
            padding: .5em 0 1em;
            line-height: 1.75;
        }

        &__user {
            font-weight: bold;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }

        &__value {
            color: var(--primary);
            font-weight: bold;
        }

        &__award {
            width: 1.25em;
            margin: 0 .5em -.5em 0;
        }

        &__awards-user {
            margin: 0 .5rem .5rem 0;
        }
    }
}

.user-online {
    font-weight: 300;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }

    &[data-group-id="4"] {
        font-weight: bold;
        color: #900020;
    }
    &[data-group-id="8"] {
        color: darkgreen;
    }

    &[data-group-id="6"] {
        color: #d00f0f;
    }

    &[data-group-id="5"] {
        color: #6729a3;
    }

    &[data-group-id="3"] {
        color: #ad32aa;
    }

    &[data-group-id="251"] {
        color: #0072cc;
    }
}

.login-to-continue {
    font-size: 1.125em;
    background: var(--bg-darker);
    box-shadow: var(--block-box-shadow);
    padding: 1em;
    border-radius: var(--border-radius-standard);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--col-margin);
    @include mobile() {
        font-size: 1em;
        align-items: flex-start;
        flex-direction: column;
    }

    a {
        color: var(--primary);
    }
}
